.xans-mall-faq .contents { padding: var(--space-24) 0 0; color:var(--text-weak); line-height: calc(var(--space-16) + var(--space-4)); }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-mall-faq .contents { padding: var(--space-24) var(--space-16) 0; }
}