#contents { padding: 0 0 var(--space-32); }
.xans-mall-term { margin: var(--space-16) var(--space-8) 0; padding: var(--space-16); color:var(--text-weak); font-size: var(--caption-2-size); line-height: var(--body-line-height); border: var(--form-field-border-width) solid var(--line-weak); background:var(--bg-0); }
