#popup { width: calc((var(--space-96) * 8) + var(--space-32)); }
.xans-order-deferedpaymentguide .ec-base-table.typeList .scroll { min-height: calc((var(--space-96) * 2) + var(--space-16)); }
.xans-order-deferedpaymentguide #defer_delivcompany { margin: 0 0 var(--space-8); }