/* 사은품 리스트 */
.xans-gift-list .title { margin: var(--space-16) 0 var(--space-12); }
.xans-gift-list .giftInfo { padding: var(--space-12); font-weight:var(--font-weight-bold); }
.xans-gift-list .giftInfo:before { display:inline-block; content:""; margin: 0 var(--space-4) 0 0; width: calc(var(--form-field-border-width) * 3); height: calc(var(--form-field-border-width) * 3); vertical-align:middle; background:var(--icon-url-notice) no-repeat 0 0; }
.xans-gift-list .xans-gift-second { margin-top: var(--space-48); padding-top: var(--space-48); border-top: var(--form-field-border-width) solid var(--text-weak); }
.xans-gift-list .xans-gift-second:first-child { border-top: 0; padding-top: 0; margin: 0; }
.xans-gift-list .xans-gift-third { width: 100%; overflow:hidden; }
.xans-gift-list .xans-gift-third ul { letter-spacing: calc(var(--space-4) * -1); font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); vertical-align:top; }
.xans-gift-list .xans-gift-third li { display:inline-block; width: calc(var(--space-96) + var(--space-32) + calc(var(--form-field-border-width) * 3)); margin: var(--space-24) var(--space-24) 0 0; letter-spacing: normal; }
.xans-gift-list .xans-gift-third img { max-width: 100%; }
.xans-gift-list .xans-gift-third span,
.xans-gift-list .xans-gift-third .point { display:block; font-size: var(--caption-2-size); line-height: var(--body-line-height); }
.xans-gift-list .xans-gift-third span { margin: var(--space-4) 0 0; color:var(--line-strong); }
.xans-gift-list .xans-gift-third .point { color:var(--text-main); }

/* 사은품 제공 상품 레이어 */
.xans-gift-layeroffergift { position:fixed; z-index:1000; left: 50%; top: calc((var(--space-96) * 2) + var(--space-8)); width: calc((var(--space-96) * 6) + var(--space-24)); margin-left: calc(var(--space-96) * -1); }
.xans-gift-layeroffergift .thumb img { max-width: calc(var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
