.adminFail { margin: var(--space-48) var(--space-16) 0; padding: 0 0 var(--space-32); text-align:center; }
.adminFail .fail { margin: 0 auto 0; padding: 0 0 var(--space-12); color:var(--text-muted-strong); font-size: var(--caption-1-size); text-align:center; }
.adminFail .fail .failCheck img { width: calc(var(--space-32) + var(--space-4) + var(--form-field-border-width)); }
.adminFail .fail p:last-child { margin: var(--space-16) 0 0; }
.adminFail .fail span { display:inline-block; margin: var(--space-32) 0 0; color:var(--support-info); font-size: var(--title-3-size); font-weight:var(--font-weight-bold); }
.adminFail .fail strong { font-weight:var(--font-weight-bold); }
.adminFail .ec-base-help { display:inline-block; margin: var(--space-16) auto; }