.xans-member-checkpassword .info { margin: 0 0 var(--space-24); }
.xans-member-checkpassword .info strong { color:var(--brand-primary); }
.xans-member-checkpassword .password input { width: 100%; max-width: calc((var(--space-96) * 3) + var(--space-4) + var(--form-field-border-width)); }