.xans-member-findpasswdquestion { margin: var(--space-16) var(--space-8) 0; padding: 0 0 var(--space-32); }
.xans-member-findpasswdquestion .ec-base-table.typeWrite td { vertical-align:middle; }
.xans-member-findpasswdquestion .ec-base-table.typeWrite table p { margin: 0; word-break:keep-all; }

/* INPUT SIZE */
.xans-member-findpasswdquestion #passwd_answer { width: 100%; }
