.xans-member-findid { margin: var(--space-16) var(--space-8) 0; padding: 0 0 var(--space-32); color:var(--text-strong); font-size: var(--caption-1-size); }
.xans-member-findid .ec-base-table.typeWrite #mobile_auth_view img,
.xans-member-findid .ec-base-table.typeWrite #ipin_view img { max-width: calc(var(--space-96) + var(--space-8) + calc(var(--form-field-border-width) * 2)); }

/* INPUT SIZE */
.xans-member-findid #searchType,
.xans-member-findid #name,
.xans-member-findid #email { width: 100%; }
.xans-member-findid #mobile1 { max-width: calc(var(--space-32) + calc(var(--form-field-border-width) * 3)); }
.xans-member-findid #mobile2,
.xans-member-findid #mobile3 { max-width: calc(var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 3)); }
.xans-member-findid #ssn1,
.xans-member-findid #ssn2 { width: 40%; }