.xans-member-findpasswd { margin: var(--space-16) var(--space-8) 0; padding: 0 0 var(--space-32); color:var(--text-strong); font-size: var(--caption-1-size); }
.xans-member-findpasswd .ec-base-table.typeWrite #mobile_auth_view img,
.xans-member-findpasswd .ec-base-table.typeWrite #ipin_view img { max-width: calc(var(--space-96) + var(--space-8) + calc(var(--form-field-border-width) * 2)); }

/* INPUT SIZE */
.xans-member-findpasswd #searchType,
.xans-member-findpasswd #name,
.xans-member-findpasswd #email,
.xans-member-findpasswd #ssn { width: 100%; }
.xans-member-findpasswd #mobile1 { max-width: calc(var(--space-32) + calc(var(--form-field-border-width) * 3)); }
.xans-member-findpasswd #mobile2,
.xans-member-findpasswd #mobile3 { max-width: calc(var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 3)); }
.xans-member-findpasswd #ssn1,
.xans-member-findpasswd #ssn2 { width: 40%; }
