.xans-member-updateeventpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: calc((var(--space-96) * 3) + var(--space-64) + var(--form-field-border-width));
    margin: calc(var(--space-96) * -1) 0 0 calc(var(--space-96) * -1);
}

.xans-member-updateeventpopup.ec-base-layer .content {
    padding: 0 0 0 var(--space-24);
    height: calc((var(--space-96) * 3) + var(--space-64) + var(--space-16) + var(--form-field-border-width));
    background: var(--support-info) var(--icon-url-notice) no-repeat 0 0;
}

.xans-member-updateeventpopup .content>h2 {
    margin: 0 0 var(--space-24);
    padding: var(--space-48) 0 0;
}

.xans-member-updateeventpopup .content>p {
    margin: 0;
    font-size: var(--caption-2-size);
    color: var(--bg-50);
    line-height: var(--body-line-height);
}

.xans-member-updateeventpopup .content .btnModify {
    display: inline-block;
    margin: var(--space-48) 0 0 0;
}

.xans-member-updateeventpopup.ec-base-layer .ec-base-button { display:flex; align-items:center; justify-content:space-between;
    overflow: hidden;
    padding: var(--space-8) var(--space-24) var(--space-8) 0;
    text-align: right;
}

.xans-member-updateeventpopup.ec-base-layer .ec-base-button label { display:inline-flex; align-items:center;
    margin: 0 0 0 var(--space-24);
    line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2));
    color: var(--text-sub);
}