

#header_cart_area { position:absolute; top: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); right: 0; width: calc((var(--space-96) * 3) + var(--space-32)); height: calc((var(--space-96) * 2) + var(--space-24) + var(--space-4)); padding: var(--space-12); overflow:scroll; background-color:var(--bg-0); box-sizing: border-box; border-top: var(--form-field-border-width) solid var(--text-main); box-shadow: var(--shadow-lv1); z-index:200; text-align:center; }
#header_cart_area {     -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }
#header_cart_area::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }
#header_cart_area.notOn { display:none; }

	#header_cart_title { width: 100%; font-size: var(--body-1-size); font-weight:var(--font-weight-bold); padding: var(--space-4) 0; border-bottom: var(--form-field-border-width) solid var(--bg-100); }
	#header_cart_area .xans-order-tabinfo { width: 100%; font-size: var(--font-size-hidden); margin: var(--space-12) 0; }
	#header_cart_area .xans-order-tabinfo ul li { display:inline-block; width: 50%; font-size: var(--caption-2-size); box-sizing: border-box; }
	#header_cart_area .xans-order-tabinfo ul li:first-child { border-right: var(--form-field-border-width) solid var(--text-main); }
	#header_cart_area .xans-order-empty { font-size: var(--title-2-size); color:var(--line-default); margin-top: var(--space-48); }

	#header_cart_area .orderListArea { text-align:left; }
	#header_cart_area .orderListArea tfoot tr { display:inline-block; width: 100%; font-size: var(--caption-2-size); text-align:center; margin: var(--space-16) 0; }
	#header_cart_area .orderListArea tfoot .total { color:var(--brand-primary-hover); }
	#header_cart_area .orderListArea tr { display:inline-block; width: 50%; font-size: var(--caption-2-size); text-align:center; margin: var(--space-12) 0; vertical-align:top; }
	#header_cart_area .orderListArea td { display:inline-block; width: 100%; }
	#header_cart_area .orderListArea td.product { margin: var(--space-4) 0; }
	#header_cart_area .orderListArea td input[type="checkbox"] { width: calc(var(--space-12) + calc(var(--form-field-border-width) * 3)); height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3)); margin-right: var(--space-4); }
	#header_cart_area .orderListArea td.total { color:var(--brand-primary-hover); }

	#header_cart_area .xans-order-selectorder { width: 100%; border-top: var(--form-field-border-width) solid var(--bg-100); padding: var(--space-16) 0 0; }
	#header_cart_area .xans-order-selectorder > a { display:inline-block; width: 48.5%; padding: var(--space-4) 0; margin: 0 var(--space-8) 0 var(--space-12); font-size: var(--caption-1-size); color:var(--text-main); box-sizing: border-box; border: var(--form-field-border-width) solid var(--text-disabled); }
	#header_cart_area .xans-order-selectorder > a:nth-child(2) { margin: 0 var(--space-12) 0 var(--space-8); background-color:var(--text-weak); color:var(--bg-0); border: var(--form-field-border-width) solid var(--text-weak); }
	#header_cart_area .xans-order-selectorder > a:hover { background-color:var(--brand-primary-hover); color:var(--bg-0); border: var(--form-field-border-width) solid var(--brand-primary-hover); }

	#header_cart_go_bt { display:inline-block; margin: var(--space-24) var(--space-12) var(--space-12) auto; font-size: var(--body-1-size); box-sizing: border-box; border: var(--form-field-border-width) solid var(--text-disabled); color:var(--text-disabled); padding: 0 var(--space-8); }
	#header_cart_go_bt:hover { background-color:var(--brand-primary-hover); color:var(--bg-0); border: var(--form-field-border-width) solid var(--brand-primary-hover); }
	#header_cart_go_bt i { position:relative; top: var(--form-field-border-width); }





/* 1000px이하 모바일버전 */

@media (max-width: 1001px) {

#header_cart_area { right: 0; }


}
