

	#category_wrap .more_cate { background: var(--icon-url-right-arr) no-repeat 100% 50%; background-size: calc(var(--space-4) + calc(var(--form-field-border-width) * 2)) auto; }
	#category_wrap .cate1_li.more_cate { background-image:none; }







	/** 카테고리 **/

    #category_wrap { display:none; position:relative; z-index:11; height: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); padding: 0 0; margin-left: var(--space-12); vertical-align:top; }
    #category_wrap a { display:block; color:var(--text-muted-strong); font-size: var(--caption-2-size); white-space:nowrap; }
    #category_wrap a:hover { color:var(--text-strong); text-decoration:none; }
	#category_text { width: 100%; height: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); line-height: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); text-align:center; cursor:pointer; }


    /* 대분류 */
	#category_wrap .scroll_cate { position:absolute; top: calc(((var(--space-96) * 104) + var(--space-16)) * -1); left: 0; }
	.onScroll #category_wrap .scroll_cate.cate_hover { top: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); }
	#category_wrap .scroll_cate.cate_hover { top: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); }
	#category_wrap .scroll_cate_ul.cate1_ul { display:flex; flex-direction:column; }
    #category_wrap .scroll_cate_ul.cate1_ul .cate1_li { position:relative; display:inline-block;  white-space:normal; opacity:0; transform: translateY(calc(var(--space-8) + (var(--form-field-border-width) * 2))); transition: all 0.6s; }
	#category_wrap .scroll_cate.cate_hover .scroll_cate_ul.cate1_ul .cate1_li { opacity:1; transform: translateY(0); }
	#category_wrap .scroll_cate.cate_hover.cate_leave .scroll_cate_ul.cate1_ul .cate1_li { opacity:0; transform: translateY(calc(var(--space-8) + (var(--form-field-border-width) * 2))); }
    #category_wrap .scroll_cate_ul.cate1_ul .cate1_li > a { display:inline-block; line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); color:var(--text-main); font-size: var(--caption-2-size); font-weight:var(--font-weight-medium); word-spacing: calc(var(--form-field-border-width) * -1); text-align:center; }
    #category_wrap .scroll_cate_ul.cate1_ul .cate1_li img {  width: calc(var(--space-96) + var(--space-4)); height: calc(var(--space-96) + var(--space-4)); border-radius: var(--radius-pill);}
	#category_wrap .scroll_cate_ul.cate1_ul .cate1_li > a > img { display:block; margin: 0 auto; }



    /* 중분류 */

	#category_wrap .cate2_ul { display:none; }




@media (min-width: 1000px) {

#category_wrap { display:inline-block; }


}
