		#header_community { position:relative; display:none; height:50px; line-height:50px; margin-left:0px; margin-top:0px !important; vertical-align:top; z-index:20; }
		#community_list { position:absolute; top:49px; left:50%; transform:translateX(-50%); display:none; flex-direction:column; text-align:left; background-color:#fff; border:1px solid #000; }
		#community_text { cursor:pointer; font-size:12px; font-weight:400; }
		#community_text > img { height:8px; margin-top:-2px; vertical-align:middle; transform:rotate(-90deg); }
		#community_list.community_hover { top:50px; }
		.community_list_a { display:block; min-width:160px; line-height:32px; font-size: 12px; text-indent:15px; white-space:nowrap; border-bottom:1px solid #000; }
	    .community_list_a:last-child { border-bottom:0px; }



@media (min-width: 1000px) {

#header_community { display:inline-block; }

    
}