#popup { width: calc((var(--space-96) * 8) + var(--space-32)); }
.xans-myshop-addrmodify #address_zip1, .xans-myshop-addrmodify #address_zip2 { width: calc(var(--space-48) + var(--space-12)); text-align:center; }
.xans-myshop-addrmodify #address_addr1, .xans-myshop-addrmodify #address_addr2 { margin: var(--space-4) 0 0; }