.xans-myshop-couponserial .couponSerial { text-align:center; border: var(--form-field-border-width) solid var(--line-weak); border-top-color:var(--text-main); }
.xans-myshop-couponlist .couponList .ec-base-table,
.xans-myshop-couponlist .couponList .ec-base-prdEmpty { border-top: 0; }
.xans-myshop-couponlist .couponList .ec-base-prdEmpty { padding-top: var(--space-8); }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-myshop-couponserial .couponSerial { margin: 0 0 var(--space-32); padding: var(--space-32) var(--space-16); }
    .xans-myshop-couponserial .couponSerial #coupon_code { width: 100%; }
    .xans-myshop-couponserial .couponSerial #coupon_code + .btnSubmitFix { width: 100%; margin: var(--space-12) 0 0; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-myshop-couponserial .couponSerial { margin: 0 0 var(--space-48); padding: var(--space-32); }
    .xans-myshop-couponserial .couponSerial #coupon_code { width: calc((var(--space-96) * 3) + var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
    .xans-myshop-couponserial .couponSerial .btnSubmitFix { margin: 0 0 0 var(--space-8); }
}
