.xans-myshop-historylist { margin: var(--space-16) var(--space-8); }
.xans-myshop-historylist .item { margin: var(--space-8) 0 0; font-size: var(--caption-2-size); color:var(--text-sub); }
.xans-myshop-historylist .item:first-child { margin-top: 0; }
.xans-myshop-historylist .item h3 { padding: var(--space-16); font-size: var(--caption-1-size); line-height: var(--body-line-height); background:var(--bg-100); border: var(--form-field-border-width) solid var(--line-default); overflow:hidden; }
.xans-myshop-historylist .empty { padding: var(--space-48) 0; font-size: var(--caption-2-size); text-align:center; }
