.xans-myshop-likeitcatepackage .empty { padding: var(--space-32) 0; color:var(--line-strong); font-size: var(--caption-2-size); text-align:center; border: var(--form-field-border-width) solid var(--line-default); background-color:var(--bg-0); }
.xans-myshop-likeitcatepackage .ec-base-button { margin: 0 var(--space-8); padding: var(--space-8); border: var(--form-field-border-width) solid var(--line-default); border-top-width: 0; }

/* 상품분류정보 */
.xans-myshop-likecategorylist { margin: var(--space-8) var(--space-8) 0; }
.xans-myshop-likecategorylist .cateList { background-color:var(--bg-0); }
.xans-myshop-likecategorylist .cateList li { margin: 0 0 0; padding: var(--space-16); border: var(--form-field-border-width) solid var(--line-default); }