/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    /* myshop layout */
    .xans-myshop-main { display:none; }
    .myshopMain .xans-myshop-main { display:block; }

    .xans-myshop-main .subTitle { padding: var(--space-24) var(--space-16) var(--space-12); background:var(--bg-100); }
    .xans-myshop-main h3 { color:var(--text-main); font-size: var(--body-1-size); }
    .xans-myshop-main .menu { border-top: var(--form-field-border-width) solid var(--text-main); }
	.xans-myshop-main .menu li { border-bottom: var(--form-field-border-width) solid var(--line-weak); }
	.xans-myshop-main .menu li a { position:relative; display:block; padding: var(--space-24) var(--space-16); font-size: var(--body-3-size); text-decoration:none; }
    .xans-myshop-main .menu li a:after { content:""; display:block; position:absolute; top: var(--space-8); right: calc(var(--space-16) + calc(var(--form-field-border-width) * 2)); width: calc(var(--space-8) + calc(var(--form-field-border-width) * 2)); height: calc(var(--space-8) + calc(var(--form-field-border-width) * 2)); margin: var(--space-16) auto 0; border-left: var(--form-field-border-width) solid var(--text-disabled); border-bottom: var(--form-field-border-width) solid var(--text-disabled); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-main .consult { margin: var(--space-24) var(--space-16) 0; }
    .xans-myshop-main .consult .btnNormal { width: 100%; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    /* myshop layout */
    .myshopArea { position:relative; margin: var(--space-32) 0 0; padding: 0 0 0 var(--space-96); }
    .xans-myshop-main { position:absolute; left: 0; top: 0; width: calc((var(--space-96) * 2) + var(--space-8)); }

    .xans-myshop-main .title {  font-size: var(--display-5-size-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);
    letter-spacing: var(--display-letter-spacing-ko);}
    .xans-myshop-main .subTitle { margin: var(--space-48) 0 0; }
    .xans-myshop-main h3 { color:var(--text-main); font-size: var(--title-3-size); font-weight:var(--font-weight-bold); }
    .xans-myshop-main .menu li { margin: var(--space-16) 0 0; }
	.xans-myshop-main .menu li a { display:block; color:var(--text-weak); font-size: var(--body-3-size); text-decoration:none; }
    .xans-myshop-main .consult { margin: var(--space-48) 0 0; }
}
