.xans-myshop-orderhistoryhead .period { display:inline-block; font-size: var(--font-size-hidden); vertical-align:middle; }
.xans-myshop-orderhistoryhead .period .btnNormal { margin: 0 0 0 0; }
.xans-myshop-orderhistoryhead .period .btnNormal:hover,
.xans-myshop-orderhistoryhead .period .btnNormal.selected { position:relative; z-index:1; }
.xans-myshop-orderhistoryhead #history_end_date { margin-left: var(--space-12); }
.xans-myshop-orderhistoryhead .datepicker .ui-datepicker-trigger { width: calc(var(--space-16) + var(--space-4)); height: calc(var(--space-16) + var(--space-4)); margin: 0 var(--space-12); vertical-align:middle; background:var(--icon-url-calendar) no-repeat; background-size: calc(var(--space-16) + var(--space-4)) calc(var(--space-16) + var(--space-4)); }
.xans-myshop-orderhistoryhead .datepicker .ui-datepicker-trigger img { opacity:0.0001; }
.xans-myshop-orderhistoryhead .date .btnSubmit { position:relative; }
.xans-myshop-orderhistoryhead #order_search_btn { position:absolute; top: calc(var(--form-field-border-width) * -1); left: calc(var(--form-field-border-width) * -1); right: calc(var(--form-field-border-width) * -1); width: 100%; height: 100%; display:block; opacity:0.0001; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-myshop-orderhistoryhead { padding: 0 var(--space-16); }
}

/********************* Mobile / Tablet / PC 1340 *********************/
@media all and (max-width:1430px) {
    .xans-myshop-orderhistoryhead { margin: var(--space-48) 0 var(--space-32); }
    .xans-myshop-orderhistoryhead select { width: 100%; }
    .xans-myshop-orderhistoryhead .period { display:flex; margin: var(--space-12) 0; }
    .xans-myshop-orderhistoryhead .period .btnNormal { flex:1; }
    .xans-myshop-orderhistoryhead .fText { flex:1; min-width: calc(var(--space-96) + var(--space-24));  }
    .xans-myshop-orderhistoryhead .datepicker { display:flex; align-items: center; }
    .xans-myshop-orderhistoryhead .date .btnSubmit { width: 100%; margin: var(--space-12) 0 0; }
}

/********************* PC *********************/
@media all and (min-width:1431px) {
    .xans-myshop-orderhistoryhead { margin: var(--space-48) 0 var(--space-64); }
    .xans-myshop-orderhistoryhead fieldset { display:flex; padding: var(--space-32) var(--space-24); background: var(--bg-100); border: var(--form-field-border-width) solid var(--line-weak); }
    .xans-myshop-orderhistoryhead .stateSelect { display:inline-block; margin: 0 var(--space-24) 0 0; }
    .xans-myshop-orderhistoryhead .stateSelect select { width: calc(var(--space-96) + var(--space-48) + var(--space-8) + calc(var(--form-field-border-width) * 3)); }
    .xans-myshop-orderhistoryhead .period { margin: 0 var(--space-24) 0 0; }
    .xans-myshop-orderhistoryhead .date { display:inline-block; }
    .xans-myshop-orderhistoryhead .fText { width: calc(var(--space-96) + var(--space-48) + var(--space-4) + var(--form-field-border-width));  }
}
