#popup { width:700px; padding:0 0 0 !important; }

#popup .ec-base-layer { padding:0 0 30px; }



#zipcodeLayer{ position:fixed !important; top:50% !important; left:50% !important; transform:translate(-50%,-50%); z-index:1001 !important; width:100% !important; height:100% !important; }





@media (max-width: 1024px) {



body#layout .ec-base-layer {

    position: relative;

    top: auto;

    left: auto;

    width: 100%;

    border: 0;

    transform: initial;

    padding:0 0 30px;

}

    

}