.xans-myshop-orderstate .state { overflow:hidden; border-top: var(--form-field-border-width) solid var(--text-main); border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-myshop-orderstate .state__order { display:flex; }
.xans-myshop-orderstate a:hover { text-decoration:none; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-myshop-orderstate .state__order li { width: 25%; padding: var(--space-24) var(--space-8) var(--space-24); text-align:center; }
    .xans-myshop-orderstate .state__order .label { position:relative; display:block; margin: var(--space-12) 0 0; font-size: var(--caption-1-size); }
    .xans-myshop-orderstate .state__order li:not(:last-child) .label:after { content:""; display:block; position:absolute; top: var(--space-4); right: calc((var(--space-4) + calc(var(--form-field-border-width) * 3)) * -1); width: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); height: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); border-left: var(--form-field-border-width) solid var(--line-weak); border-bottom: var(--form-field-border-width) solid var(--line-weak); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .count { font-size: var(--title-2-size); }
    .xans-myshop-orderstate .state__cs { display:flex; margin-left: 0; }
    .xans-myshop-orderstate .state__cs li { flex:1; padding: var(--space-24) var(--space-16); border-top: var(--form-field-border-width) solid var(--line-weak); border-left: var(--form-field-border-width) solid var(--line-weak); letter-spacing: var(--body-letter-spacing); word-spacing: var(--space-4);display: flex; justify-content: space-between; }
    .xans-myshop-orderstate .state__cs strong { font-weight:var(--font-weight-regular); font-size: var(--caption-2-size); color:var(--text-muted-strong); }
    .xans-myshop-orderstate .state__cs .count { padding: 0 0 0 var(--space-4); font-weight:var(--font-weight-bold); }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-myshop-orderstate .state__order li { position:relative; width: 25%; padding: var(--space-32) 0 var(--space-32); text-align:center; }
    .xans-myshop-orderstate .state__order li:not(:last-child):after { content:""; display:block; position:absolute; top: 50%; right: 0; width: calc(var(--space-12) + var(--form-field-border-width)); height: calc(var(--space-12) + var(--form-field-border-width)); margin: calc(var(--space-12) * -1) auto 0; border-left: var(--form-field-border-width) solid var(--line-weak); border-bottom: var(--form-field-border-width) solid var(--line-weak); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); }
    .xans-myshop-orderstate .state__order .label { display:block; margin: var(--space-12) 0 var(--space-8); font-size: var(--caption-1-size); }
    .xans-myshop-orderstate .state__order .count { font-size: var(--display-5-size-ko); font-family:var(--font-display-ko); font-weight:var(--display-font-weight-ko); line-height: var(--display-5-line-height-ko); letter-spacing: var(--display-letter-spacing-ko); }
    .xans-myshop-orderstate .state__cs { display:none; }
}


/** 기본_style 210813 **/
.xans-myshop-orderstate .state__cs {display:block;}
.xans-myshop-orderstate .state {border: none;border-top: calc(var(--form-field-border-width) * 2) solid var(--text-strong);}
.xans-myshop-orderstate .state__order .count {font-size: var(--title-2-size);font-weight:var(--font-weight-bold);color:var(--text-strong);}
.xans-myshop-orderstate .state__order .label {font-size: var(--body-3-size);color:var(--text-weak);letter-spacing: var(--body-letter-spacing);margin: var(--space-4) 0 0;}
.xans-myshop-orderstate .state__order li {padding-bottom: var(--space-48);}
.xans-myshop-orderstate .state__cs {display:flex;justify-content:space-around;border: var(--form-field-border-width) solid var(--line-weak);}
.xans-myshop-orderstate .state__cs li {width: calc(100% / 3);height: calc(var(--space-48) + var(--space-8));text-align:center;line-height: calc(var(--space-48) + var(--space-8));border-left: var(--form-field-border-width) solid var(--line-weak);}
.xans-myshop-orderstate .state__cs li:nth-child(1) {border-left: none;}
.xans-myshop-orderstate .state__cs li span {font-size: var(--body-3-size);font-weight:var(--font-weight-bold);color:var(--text-strong);}

@media screen and (max-width:1024px) {
	.xans-myshop-orderstate .state__order li {padding: var(--space-48) 0;position:relative;}
	.xans-myshop-orderstate .state__order li:not(:last-child):after {content:"";width: 0;height: calc(var(--space-32) + var(--space-8));position:absolute;border: none;border-left: var(--form-field-border-width) dotted var(--line-default);transform:translateY(-50%);top: 50%;right: var(--form-field-border-width);background:var(--line-weak);}
	.xans-myshop-orderstate .state__order li:not(:last-child) .label:after {display:none;}
	.xans-myshop-orderstate .state__cs li {justify-content:center;padding: 0;border: none;border-left: var(--form-field-border-width) solid var(--line-weak);}
	.xans-myshop-orderstate .state__cs li:nth-child(1) {border-left: var(--form-field-border-width) solid var(--line-weak);}
}
