.xans-myshop-orderhistoryapplyexchange .order { position:relative; }
.xans-myshop-orderhistoryapplyexchange .order__number { overflow:hidden; padding: var(--space-24) 0 var(--space-24) var(--space-16); font-size: var(--caption-1-size); background-color:var(--bg-100); border-top: var(--form-field-border-width) solid var(--text-main); }
.xans-myshop-orderhistoryapplyexchange .order__number .date { font-weight:var(--font-weight-bold); }
.xans-myshop-orderhistoryapplyexchange .productSelect { border-bottom: var(--form-field-border-width) solid var(--line-weak); background:var(--bg-50); }
.xans-myshop-orderhistoryapplyexchange .exchangeProduct { border-top: var(--form-field-border-width) solid var(--text-main); }
.xans-myshop-orderhistoryapplyexchange .direct { width: 100%; }
.xans-myshop-orderhistoryapplyexchange .direct .input { display:flex; }
.xans-myshop-orderhistoryapplyexchange .direct #pickup_invoiceno { margin-left: var(--space-12); }

.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery{background-color:var(--bg-50);vertical-align:middle;padding: var(--space-12) var(--space-24) var(--space-12) var(--space-48);}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .inner{display: flex;align-items:center;}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .address{flex:1;display: block;padding-right: var(--space-24);}
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeList .xans-myshop-products .multiDelivery .waybill{flex:none;display: inline-block;}

.xans-myshop-orderhistoryapplyexchange textarea { width: 100%; }
.itemAddInfo input { width: 100%; }

.xans-myshop-orderhistoryapplyexchange p.ec-base-help { margin: var(--space-12) 0 0; }

/* INPUT */
#pickup_phone1_1, #pickup_phone2_1,
#pickup_phone1_2, #pickup_phone1_3,
#pickup_phone2_2, #pickup_phone2_3 { width: calc(var(--space-64) + var(--space-16) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
#delivery_info_offer_content { width: 95%; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
  .xans-myshop-orderhistoryapplyexchange .productSelect { margin: var(--space-24) 0 var(--space-48); padding: var(--space-24) var(--space-16); }
  .xans-myshop-orderhistoryapplyexchange .productSelect .button { margin: var(--space-16) 0 0; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
  .xans-myshop-orderhistoryapplyexchange .productSelect { margin: var(--space-24) 0; padding: var(--space-24); }
  .xans-myshop-orderhistoryapplyexchange .productSelect .text { display:inline-block; }
  .xans-myshop-orderhistoryapplyexchange .productSelect .button { display:inline-block; margin-left: var(--space-16); }
}