

.fl { display:flex; align-items:flex-start;
}

.fr { margin-left: auto; display:flex; align-items:flex-start;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.displaynone {
    display: none;
}

.xans-myshop-orderprinttax { display:flex; align-items:flex-start; flex-wrap:wrap;
    margin: 0 auto;
    width: calc((var(--space-96) * 7) + var(--space-24) + var(--space-4));
}

.xans-myshop-orderprinttax .box {
    border: var(--form-field-border-width) solid var(--color-success);
    padding: var(--space-12);
    margin: var(--space-12) 0;
}

.xans-myshop-orderprinttax p,
.xans-myshop-orderprinttax table {
    color: var(--color-sky-600);
    font-size: var(--caption-2-size);
    line-height: var(--body-line-height);
    margin: 0 0 0;
}

.xans-myshop-orderprinttax table th,
.xans-myshop-orderprinttax table td {
    border: var(--form-field-border-width) solid var(--color-sky-600);
    padding: var(--space-4);
    text-align: center;
}

.xans-myshop-orderprinttax .provider { display:flex; align-items:flex-start;
    width: calc((var(--space-96) * 3) + var(--space-48) + calc(var(--form-field-border-width) * 3));
}

.xans-myshop-orderprinttax .provider .name {
    width: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
}

.xans-myshop-orderprinttax .xans-myshop-buyer {
    margin-left: 0;
    width: calc((var(--space-96) * 3) + var(--space-48) + var(--space-4));
}

.xans-myshop-orderprinttax .info {
    padding: var(--space-12);
}

.xans-myshop-orderprinttaxamount td,
.xans-myshop-orderprinttaxproduct td,
.summary td {
    color: var(--color-black);
}

.provider p,
.provider table {
    color: var(--color-error);
}

.provider table th,
.provider table td {
    border-color: var(--color-error);
}
