
p.title {
    position: relative;
    top: calc((var(--space-16) + var(--space-4)) * -1);
    height: calc(var(--space-16) + var(--space-4));
    margin: 0 0 calc(var(--space-24) * -1);
}

p.info {
    padding: var(--space-12);
    width: calc((var(--space-96) * 6) + var(--space-12) + calc(var(--form-field-border-width) * 2));
    margin: 0 auto;
}

.xans-myshop-orderprintspeclist .section {
    padding: var(--space-48) 0;
    page-break-before: always;
}

.xans-myshop-orderprintspeclist .orderPrintSpec {
    padding: var(--space-12);
    width: calc((var(--space-96) * 6) + var(--space-64) + var(--space-8) + calc(var(--form-field-border-width) * 2));
    margin: 0 auto;
    border: var(--form-field-border-width) solid var(--color-success);
}

.xans-myshop-orderprintspeclist .orderPrintSpec .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 auto;
    width: calc((var(--space-96) * 6) + var(--space-12) + calc(var(--form-field-border-width) * 2));
    border: calc(var(--form-field-border-width) * 2) solid var(--text-main);
}

.xans-myshop-orderprintspeclist .orderPrintSpec h1 {
    padding: var(--space-16) 0 var(--space-32);
    text-align: center;
    letter-spacing: var(--body-letter-spacing);
    color: var(--text-main);
}

thead th,
tfoot th,
tfoot td {
    border-top: calc(var(--form-field-border-width) * 2) solid var(--text-main);
}

.first th,
.first td {
    border-top: calc(var(--form-field-border-width) * 2) solid var(--text-main);
}

.first th.outer {
    border-left: calc(var(--form-field-border-width) * 2) solid var(--text-main);
}

table.issue {
    width: calc((var(--space-96) * 2) + var(--space-8));
}

table.issue th,
table.issue td {
    border: 0;
    text-align: left;
}

table.provider {
    margin-left: auto;
    width: calc((var(--space-96) * 3) + var(--space-64) + var(--space-24) + var(--space-4));
}

table.provider td {
    text-align: center;
}

table.content {
    width: 100%;
    margin: 0 0 0;
}

table.content td {
    text-align: center;
}

table.content td.product {
    padding: var(--space-4);
    text-align: left;
}

table.content td.price {
    text-align: right;
}

table.content tfoot th {
    border-right: 0;
}

table.content tfoot td {
    padding: 0 var(--space-12) 0 0;
    border-left: 0;
    text-align: right;
}

.xans-myshop-orderprintspeclist .xans-myshop-orderprintguide {
    padding: var(--space-12) var(--space-48);
    width: calc((var(--space-96) * 6) + var(--space-12) + calc(var(--form-field-border-width) * 2));
    margin: var(--space-12) auto 0;
    border: var(--form-field-border-width) solid var(--color-success);
}

.xans-myshop-orderprintspeclist .xans-myshop-orderprintguide ul {
    margin: var(--space-4) 0 0 var(--space-12);
    list-style: none;
}
