.xans-myshop-orderregularmanagelist .title { margin: var(--space-48) 0 var(--space-12) var(--space-12); }
.xans-myshop-orderregularmanagelist .title h3 { color:var(--text-muted-strong); font-size: var(--caption-2-size); }
.xans-myshop-orderregularmanagelist.ec-base-table td .line { text-decoration:underline; }
.xans-myshop-orderregularmanagelist.ec-base-table td.number { letter-spacing: calc(var(--form-field-border-width) * -1); }
.xans-myshop-orderregularmanagelist.ec-base-table td.thumb img { width: calc(var(--space-64) + var(--space-16)); }
.xans-myshop-orderregularmanagelist.ec-base-table .name .ec-set-product-name { display:block; }
.xans-myshop-orderregularmanagelist.ec-base-table td.product div.option,
.xans-myshop-orderregularmanagelist.ec-base-table td.product ul.option > li { margin: var(--space-8) 0 0; color:var(--text-weak); line-height: var(--space-16); }
.xans-myshop-orderregularmanagelist.ec-base-table td.product ul.option > li > strong { display:block; color:var(--text-muted-strong); }
.xans-myshop-orderregularmanagelist.ec-base-table td.product div.option span.file a,
.xans-myshop-orderregularmanagelist.ec-base-table td.product ul.option > li > span.file a { margin: 0 0 0 var(--space-4); color:var(--text-weak); text-decoration:underline; }
.xans-myshop-orderregularmanagelist.ec-base-table td.number [class^="btn"],
.xans-myshop-orderregularmanagelist.ec-base-table td.state [class^="btn"] { margin: 0 0; }