.xans-myshop-wishlistbutton { padding: 0 var(--space-8) var(--space-8); }
.xans-myshop-wishlistbutton .select { display:flex; align-items:center; flex-wrap:wrap; justify-content:space-between; margin: 0 0 var(--space-16); padding: var(--space-8) var(--space-16); border: var(--form-field-border-width) solid var(--line-default); border-top: 0; }
.xans-myshop-wishlistbutton .select .gRight { margin-left: auto; display:inline-flex; align-items:center; }
