.xans-myshop-wishlistitem { border-top: var(--form-field-border-width) solid var(--text-main); }

.xans-myshop-wishlist .shippingFee { position:relative; display:inline-block; text-align:left; }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip { display:block; margin: 0 0 0 calc(var(--space-96) * -1); width: calc((var(--space-96) * 3) + var(--space-64) + var(--space-8)); }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table th { width: calc(var(--space-32) + var(--space-8)); }
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table th,
.xans-myshop-wishlist .shippingFee .ec-base-tooltip table td { padding: var(--space-8) var(--space-12) var(--space-8) var(--space-12); text-align:left; }