

#video_product_ver2 { display:flex; flex-wrap:wrap; width:100%; box-sizing:border-box; border-bottom:1px solid #000; }
#video_product_ver2_left { flex:1; display:flex; gap:1px; background-color:#000; }

#video_product_ver2_video_box { flex:2; display:flex; padding:5% 2%; background-color:#f8f7f5; }

.video_product_ver2_video { flex:1; padding:0% 3%; border-radius:10px; overflow:hidden; }
.video_product_ver2_video iframe { width:100%; height:100%; border:0; }

.video_product_ver2_pd { flex:1; height:100px;padding:5% 2%;  background-color:#f8f7f5; }
#video_product_ver2_title { width:100%; margin:0 0 25px; }
#video_product_ver2_title > span { position:relative; display:inline-block; width:100%; padding:0 0; font-size:1.5vw; color:#000; font-weight:500; }
#video_product_ver2_title > span:nth-child(2) { width:auto; font-size:0.9vw; color:#777; font-weight:400; white-space:nowrap; }
#video_product_ver2 .ec-base-product { display:block; width:90%; height:100%; margin:0 auto; overflow-y:auto; overflow-x:hidden; }
#video_product_ver2 .ec-base-product::-webkit-scrollbar { width: 4px; }
#video_product_ver2 .ec-base-product::-webkit-scrollbar-track { border-radius:2px; background-color:rgba(0,0,0,0.15); }
#video_product_ver2 .ec-base-product::-webkit-scrollbar-thumb { border-radius:2px; background-color:rgba(0,0,0,0.65); }

#video_product_ver2 .ec-base-product .prdList.grid4 { width:90%; margin:0 auto 0 0; }
#video_product_ver2 .ec-base-product .prdList .prdList__item { display:flex; gap:5%; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li { width:100%; padding:0 0; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .thumbnail { flex:1; border-radius:2px; overflow:hidden; margin:0 0 0 0; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .thumbnail .sale_countdown { display:none; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .description { flex:1; margin:0 0 0 0; display:flex; flex-direction:column; justify-content:center; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li { display:none; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.spec_consumer,
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.spec_price,
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.sale_box { display:inline-block; margin:0 5px 0 0;}
#video_product_ver2 .ec-base-product .prdList.grid4 > li .icon { display:none; }

#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.wish { top:auto; left:auto; bottom:0; right:0; transform:translate(0,0) !important; border-radius:0; border:1px solid #000 !important; background-color:#f8f7f5; }
#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.wish:hover { background-color:#f8f7f5 !important; }
#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.option { display:none !important; }
#video_product_ver2 .description > .cart { position:relative; display:block; line-height:2.4; margin-top:12px; font-size:12px; border:1px solid #000; color:#000; cursor:pointer; text-align:center; transition:all 0.8s ease; }
#video_product_ver2 .description > .cart:hover { background-color:#595450; border:1px solid #595450; color:#fff; }
#video_product_ver2 .description > .cart img { position:absolute; width:100%; height:100%; opacity:0; }


@media (max-width: 1200px) { 
    
#video_product_ver2_title > span { font-size:24px; }
#video_product_ver2_title > span:nth-child(2) { font-size:14px; } 
    
}


@media (max-width: 1000px) { 

#video_product_ver2_left { max-width:100%; flex-direction:column; }
#video_product_ver2_video_box { flex:0 0 auto; max-width:100%; padding:8% 2%; box-sizing:border-box; }
.video_product_ver2_pd { position:relative; max-width:100%; height:auto !important; flex:0 0 auto; padding:8% 2%; box-sizing:border-box; }
#video_product_ver2_title { position:absolute; }
#video_product_ver2 .ec-base-product { width:94%; height:auto; overflow-y:hidden; overflow-x:auto; padding-bottom:4%; }
#video_product_ver2 .ec-base-product::-webkit-scrollbar { height: 4px; }
#video_product_ver2 .ec-base-product .prdList { width:100% !important; flex-wrap:nowrap; padding-top:100px; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li { min-width:70%; margin-bottom:0; margin-right:3%; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li:last-child { margin-right:0; }   
#video_product_ver2 .description > .cart { display:block !Important; }
}


@media (max-width: 500px) { 
#video_product_ver2 .ec-base-product .prdList.grid4 > li { min-width:80%; }
}