

#video_product_ver2 { display:flex; flex-wrap:wrap; width: 100%; box-sizing:border-box; border-bottom: var(--form-field-border-width) solid var(--text-main); }
#video_product_ver2_left { flex:1; display:flex; gap: 0; background-color:var(--text-main); }

#video_product_ver2_video_box { flex:2; display:flex; padding: var(--space-64) var(--space-24); background-color:var(--bg-100); }

.video_product_ver2_video { flex:1; padding: 0 var(--space-32); border-radius: var(--radius-md); overflow:hidden; }
.video_product_ver2_video iframe { width: 100%; height: 100%; border: 0; }

.video_product_ver2_pd { flex:1; height: calc(var(--space-96) + var(--space-4));padding: var(--space-64) var(--space-24);  background-color:var(--bg-100); }
#video_product_ver2_title { width: 100%; margin: 0 0 var(--space-24); }
#video_product_ver2_title > span { position:relative; display:inline-block; width: 100%; padding: 0 0; font-size: var(--headline-2-size-en); color:var(--text-main); font-weight:var(--headline-font-weight-en); font-family:var(--font-headline-en); line-height: var(--headline-2-line-height-en); letter-spacing: var(--headline-letter-spacing-en); }
#video_product_ver2_title > span:nth-child(2) { width: auto; font-size: var(--body-1-size); color:var(--text-weak); font-weight:var(--body-font-weight); font-family:var(--font-body); line-height: var(--body-line-height); letter-spacing: var(--body-letter-spacing); white-space:nowrap; }
#video_product_ver2 .ec-base-product { display:block; width: 90%; height: 100%; margin: 0 auto; overflow-y:auto; overflow-x:hidden; }
#video_product_ver2 .ec-base-product::-webkit-scrollbar { width: var(--space-4); }
#video_product_ver2 .ec-base-product::-webkit-scrollbar-track { border-radius: var(--radius-sm); background-color:var(--overlay-dark-muted); }
#video_product_ver2 .ec-base-product::-webkit-scrollbar-thumb { border-radius: var(--radius-sm); background-color:var(--overlay-dark-heavy); }

#video_product_ver2 .ec-base-product .prdList.grid4 { width: 90%; margin: 0 auto 0 0; }
#video_product_ver2 .ec-base-product .prdList .prdList__item { display:flex; gap: var(--space-64); }
#video_product_ver2 .ec-base-product .prdList.grid4 > li { width: 100%; padding: 0 0; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .thumbnail { flex:1; border-radius: var(--radius-sm); overflow:hidden; margin: 0 0 0 0; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .thumbnail .sale_countdown { display:none; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .description { flex:1; margin: 0 0 0 0; display:flex; flex-direction:column; justify-content:center; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li { display:none; }
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.spec_consumer,
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.spec_price,
#video_product_ver2 .ec-base-product .prdList.grid4 > li .spec > li.sale_box { display:inline-block; margin: 0 var(--space-4) 0 0;}
#video_product_ver2 .ec-base-product .prdList.grid4 > li .icon { display:none; }

#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.wish { top: auto; left: auto; bottom: 0; right: 0; transform:translate(0,0); border-radius: 0; border: var(--form-field-border-width) solid var(--text-main); background-color:var(--bg-100); }
#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.wish:hover { background-color:var(--bg-100); }
#video_product_ver2 .ec-base-product .prdList .prdList__item .icon__box > span.option { display:none; }
#video_product_ver2 .description > .cart { position:relative; display:block; line-height: var(--body-line-height); margin-top: var(--space-12); font-size: var(--caption-2-size); border: var(--form-field-border-width) solid var(--text-main); color:var(--text-main); cursor:pointer; text-align:center; transition:all 0.8s ease; }
#video_product_ver2 .description > .cart:hover { background-color:var(--text-sub); border: var(--form-field-border-width) solid var(--text-sub); color:var(--bg-0); }
#video_product_ver2 .description > .cart img { position:absolute; width: 100%; height: 100%; opacity:0; }


@media (max-width: 1200px) {

#video_product_ver2_title > span { font-size: var(--headline-3-size-en);
    font-family: var(--font-headline-en);
    font-weight: var(--headline-font-weight-en);
    line-height: var(--headline-3-line-height-en);
    letter-spacing: var(--headline-letter-spacing-en);}
#video_product_ver2_title > span:nth-child(2) { font-size: var(--body-3-size); }

}


@media (max-width: 1000px) {

#video_product_ver2_left { max-width: 100%; flex-direction:column; }
#video_product_ver2_video_box { flex:0 0 auto; max-width: 100%; padding: var(--space-96) var(--space-24); box-sizing:border-box; }
.video_product_ver2_pd { position:relative; max-width: 100%; height: auto; flex:0 0 auto; padding: var(--space-96) var(--space-24); box-sizing:border-box; }
#video_product_ver2_title { position:absolute; }
#video_product_ver2 .ec-base-product { width: 94%; height: auto; overflow-y:hidden; overflow-x:auto; padding-bottom: var(--space-48); }
#video_product_ver2 .ec-base-product::-webkit-scrollbar { height: var(--space-4); }
#video_product_ver2 .ec-base-product .prdList { width: 100%; flex-wrap:nowrap; padding-top: var(--space-96); }
#video_product_ver2 .ec-base-product .prdList.grid4 > li { min-width: 70%; margin-bottom: 0; margin-right: var(--space-32); }
#video_product_ver2 .ec-base-product .prdList.grid4 > li:last-child { margin-right: 0; }
#video_product_ver2 .description > .cart { display:block; }
}


@media (max-width: 500px) {
#video_product_ver2 .ec-base-product .prdList.grid4 > li { min-width: 80%; }
}
