#popup { width: var(--coupon-popup-width); }
.xans-coupon-productpopup .couponSkinArea .coupon { width: var(--coupon-card-width); height: var(--coupon-card-height); margin: 0 auto var(--space-24); font-size: var(--caption-2-size); line-height: var(--body-line-height); text-align:center; background-repeat:no-repeat; }
.xans-coupon-productpopup .couponSkinArea .coupon img { border: 0; }
.xans-coupon-productpopup .couponSkinArea .coupon p { margin: 0; padding: 0; }
.xans-coupon-productpopup .couponSkinArea .coupon .title { display:block; padding: var(--space-8) 0 0; font-size: var(--caption-2-size); line-height: var(--body-line-height); text-align:center; font-weight:var(--font-weight-regular); }
.xans-coupon-productpopup .couponSkinArea .coupon .discount { font-size: var(--title-3-size); line-height: var(--body-line-height); font-weight:var(--font-weight-bold); text-align:center; text-decoration:none; letter-spacing: var(--body-letter-spacing); }
.xans-coupon-productpopup .couponSkinArea .coupon .discount span { font-size: var(--headline-3-size-ko); font-family:var(--font-headline-ko); font-weight:var(--headline-font-weight-ko); line-height: var(--headline-3-line-height-ko); letter-spacing: var(--headline-letter-spacing-ko); }
.xans-coupon-productpopup .couponSkinArea .coupon .period { font-size: var(--caption-2-size); line-height: var(--body-line-height); font-weight:var(--font-weight-bold); text-align:center; letter-spacing: var(--body-letter-spacing); }
.xans-coupon-productpopup .couponSkinArea .coupon .button { margin: var(--space-4) 0 0; text-align:center; }
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .title,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .discount,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .period,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .button { display:none; }
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .detail { height: 100%; }

#popup .typeSearch.typeProduct .gProduct.typeBody { height: calc((var(--space-96) * 3) + var(--space-24) + var(--space-4)); }
.gProduct table th.price { width: calc(var(--space-64) + var(--space-8)); }
.gProduct table td.price { width: calc(var(--space-48) + var(--space-4)); text-align:right; }
