.xans-board-mainhit {
    position: relative;
}

.xans-board-mainhit h3 {
    margin: 0 0 var(--space-12);
    height: calc(var(--space-24) + var(--space-4));
    font-size: var(--body-1-size);
    color: var(--line-strong);
    border-bottom: calc(var(--form-field-border-width) * 2) solid var(--text-weak);
}

.xans-board-mainhit .more {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--space-4);
}

.xans-board-mainhit table {
    width: 100%;
}

.xans-board-mainhit table th {
    display: none;
}

.xans-board-mainhit td {
    width: calc(var(--space-64) + var(--form-field-border-width));
    padding: 0 0 0 0;
    border: none;
    border-bottom: var(--form-field-border-width) dotted var(--line-default);
    font-size: var(--caption-2-size);

    color: var(--text-disabled);
    text-align: right;
    line-height: calc(var(--space-32) + calc(var(--form-field-border-width) * 2));
}

.xans-board-mainhit td.title {
    width: auto;
    font-size: var(--caption-2-size);
    text-align: left;
}

.xans-board-mainhit td.title a,
.xans-board-mainhit td.title a:hover {
    color: var(--text-sub);
}

.xans-board-mainhit table td.date {
    width: calc(var(--space-64) + var(--space-8) + calc(var(--form-field-border-width) * 3));
    text-align: right;
}