   
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━          <br><br>               

★★ <b>필독매뉴얼 보는 방법</b> ★★                                                                                                           <br><br>                                                                                   

------------------------------------------------------------------------------------------------------------------------                       <br><br><br>

    ★ 변경작업 전에  dz-guide.com  으로 접속하여 필독매뉴얼을 먼저 보시면 도움이 됩니다 ★                                                      <br><br><br>


     스마트디자인 편집창에서 수정매뉴얼 변경관련 화면은 해당화면 내용에 따라 이미지화면 또는 HTML소스화면으로 전환하여 보면 편리합니다            <br><br>

     현재화면의 제일 하단 3개의 버튼 중                                                                                                         <br>
     좌측 1번째 [▦화면보기] 버튼을 클릭하면 이미지가 노출되는 화면보기 이미지화면(이하 "이미지화면"이라 함)으로 전환됩니다                       <br>
     제일 오른쪽 [▤HTML] 버튼을 클릭하면 소스가 노출되는 HTML보기 소스화면(이하 "HTML소스화면"이라 함)으로 전환됩니다                            <br><br>


     ○ 필독매뉴얼 보는 방법             :  이미지화면 으로 전환                                                                               <br>
     ○ 보이지않는 이미지+링크 변경화면  :  이미지화면 으로 전환                                                                                 <br>
     ○ 텍스트+링크 변경화면             :  HTML소스화면 으로 전환                                                                               <br>
     ○ 동영상 변경화면                  :  HTML소스화면 으로 전환                                                                               <br>
     ○ 기타 주요기능 안내화면           :  이미지화면 으로 전환                                                                                 <br>
     ○ 메인화면                         :  이미지화면 으로 전환                                                                                 <br><br><br>


------------------------------------------------------------------------------------------------------------------------                         <br><br><br>
    
 
 ○ 기타 쇼핑몰관리에 대한 사항은 아래 카페24쇼핑몰센터의 [쇼핑몰관리자매뉴얼]를 이용하시거나 카페24 1:1 고객센터로 문의하세요                      <br><br>                   
            
      - 카페24 [쇼핑몰관리자매뉴얼]  :   https://ecsupport.cafe24.com/manual_map/list_pop.html                                                    <br>
        ( 인터넷주소창으로 위 링크주소를 복사하여 들어가시면 됩니다 : HTML소스화면으로 전환하시면 복사할 수 있습니다)                               <br><br>                                                                                                                <br><br>                
                
      - 카페24 1:1 고객센터         :   https://ec.cafe24.com/Helpcenter/?url=Csboard                  											<br><br>               
       ( 인터넷주소창으로 위 링크주소를 복사하여 들어가시면 됩니다 : HTML소스화면으로 전환하시면 복사할 수 있습니다)                                <br><br><br> 


       (위 접속주소는 카페24의 정책에 따라 변경될수도 있습니다)                                                                                   <br><br><br>

           
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━                       <br><br>