/* 공통 */
.xans-product-1 {
    margin: var(--space-24) 0 0;
}

.xans-product-1 h2 {
    margin: 0 0 var(--space-16);
    font-weight: var(--font-weight-regular);
    font-size: var(--title-2-size);
     color: var(--line-strong);
    text-align: center;
}

.xans-product-1 img {
    vertical-align: middle;
}

.xans-product-1 ul.prdList {
    display: table;
    width: 100%;
    min-width: calc((var(--space-96) * 7) + var(--space-64) + var(--space-16) + var(--space-4));
    margin: calc(var(--space-24) * -1) 0 0;
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
}

.xans-product-1 ul.prdList li.item {
    display: inline-block;
    margin: var(--space-24) 0;
    color: var(--text-weak);
    vertical-align: top;
    *display: inline;
    *zoom: 1;
}

.xans-product-1 ul.prdList li.item .box {
    margin: 0 auto;
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 2));
    text-align: center;
}

.xans-product-1 ul.prdList li .color {
    overflow: hidden;
    display: inline-block;
    margin: var(--space-4) 0 0 0;
}

.xans-product-1 ul.prdList.column3 li .color {
    width: calc(var(--space-96) + var(--space-64) + var(--space-16));
}

.xans-product-1 ul.prdList.column4 li .color {
    width: calc(var(--space-96) + var(--space-16) + var(--space-4));
}

.xans-product-1 ul.prdList.column5 li .color {
    width: calc(var(--space-64) + var(--space-12));
}

.xans-product-1 ul.prdList li .chips { display:inline-flex; align-items:center;
    width: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    height: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    margin: 0 var(--space-4) var(--space-4) 0;
    border: var(--form-field-border-width) solid var(--line-weak);
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
}

.xans-product-1 ul.prdList .thumb {
    margin: 0 0 var(--space-12);
    border: var(--form-field-border-width) solid var(--line-weak);
}

.xans-product-1 ul.prdList .wish {
    position: absolute;
    right: calc(var(--form-field-border-width) * 3);
    top: calc(var(--space-4) + var(--form-field-border-width));
    z-index: 1;
    cursor: pointer;
}

.xans-product-1 ul.prdList .name {
    text-align: left;
}

.xans-product-1 ul.prdList .name a {
    color: var(--line-strong);
}

.xans-product-1 ul.prdList .name .title {
    font-weight: var(--font-weight-regular);
}

.xans-product-1 ul.prdList .status {
    margin: 0 0 var(--space-16);
    padding: 0 var(--space-96) var(--space-4) 0;
    border-bottom: var(--form-field-border-width) solid var(--line-weak);
    text-align: right;
    line-height: var(--line-height-hidden);
    *zoom: 1;
}

.xans-product-1 ul.prdList .icon { display:inline-flex; align-items:center;
    text-align: left;
}

.xans-product-1 ul.prdList .icon img {
    margin: 0 calc(var(--space-4) * -1) var(--space-8) 0;
}

.xans-product-1 ul.prdList .button {
    margin: 0 calc(var(--space-96) * -1) 0 0;
    *zoom: 1;
}

.xans-product-1 ul.prdList .button img {
    cursor: pointer;
}

.xans-product-1 ul.prdList .button .option {
    display: inline;
    position: relative;
    *zoom: 1;
}

.xans-product-1 ul.prdList .button .likeButton {
    display: inline-block;
    margin: 0 var(--space-4);
}

.xans-product-1 ul.prdList .button .likeButton button {
    color: var(--text-disabled);
    letter-spacing: calc(var(--form-field-border-width) * -1);
    background: none;
}

.xans-product-1 ul.prdList .button .likeButton button img {
    vertical-align: middle;
}

.xans-product-1 ul.prdList .button .likeButton button strong {
    height: var(--space-16);
    vertical-align: middle;
}

.xans-product-1 ul.prdList .button .likeButton.selected button {
    color: var(--text-muted-strong);
}

.xans-product-1 ul.prdList .mileage {
    display: block;
}

.xans-product-1 ul.prdList span.grid {
    display: block;
}

/* 퀵뷰 */
.xans-product-1 .prdImg {
    position: relative;
}

.xans-product-1 .prdImg:hover .quickView {
    display: block;
}

.xans-product-1 .quickView {
    display: none;
    position: absolute;
    left: 0;
    bottom: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    z-index: 1;
    width: 100%;
    height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 2));
    background: var(--text-main);
    opacity: 0.5;
    filter: alpha(opacity=50);
    zoom: 1;
}

.xans-product-1 .quickView a {
    display: block;
    width: 100%;
    height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 2));
    line-height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 2));
    padding: 0 0 0 var(--space-32);
    box-sizing: border-box;
    color: var(--bg-0);
    background: var(--icon-url-search) no-repeat calc(var(--space-64) + var(--space-12)) center;
}

.xans-product-1 .quickView a:hover {
    text-decoration: none;
}

.xans-product-listitem li {
    text-align: left;
}

/* 진열방식 */
.xans-product-1 ul.column3 li.item {
    width: 33.33%;
}

.xans-product-1 ul.column3 li.item .box {
    width: calc((var(--space-96) * 3) + var(--space-32) + var(--space-4));
}

.xans-product-1 ul.column3 li.item .thumb {
    width: calc((var(--space-96) * 3) + var(--space-32) + calc(var(--form-field-border-width) * 2));
    height: calc((var(--space-96) * 3) + var(--space-32) + calc(var(--form-field-border-width) * 2));
}

.xans-product-1 ul.column4 li.item {
    width: 25%;
}

.xans-product-1 ul.column4 li.item .box {
    width: calc((var(--space-96) * 2) + var(--space-48));
}

.xans-product-1 ul.column4 li.item .thumb {
    max-width: calc((var(--space-96) * 2) + var(--space-32) + var(--space-12) + calc(var(--form-field-border-width) * 2));
}

.xans-product-1 ul.column5 li.item {
    width: 20%;
}

.xans-product-1 ul.column5 li.item .box {
    width: calc(var(--space-96) + var(--space-64) + var(--space-24) + var(--space-4) + var(--form-field-border-width));
}

.xans-product-1 ul.column5 li.item .thumb {
    max-width: calc(var(--space-96) + var(--space-64) + var(--space-24) + calc(var(--form-field-border-width) * 3));
}

/* module="product_ListItem" */
.xans-product-1 .xans-product-listitem {
    margin: 0;
}

.xans-product-1 .xans-product-listitem li .title {
    font-weight: var(--font-weight-regular);
    vertical-align: top;
}

.xans-product-1 .xans-product-listitem li .title span {
    vertical-align: top;
}

/* 할인기간 레이어 */
.xans-product-1 .discountPeriod {
    display: inline-block;
    z-index: 10;
    position: relative;
    width: calc(var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 3));
    height: calc(var(--space-16) + calc(var(--form-field-border-width) * 3));
    vertical-align: middle;
    *zoom: 1;
    *display: inline;
}

.xans-product-1 .discountPeriod .edge {
    position: absolute;
    left: 50%;
    top: calc((var(--space-4) + calc(var(--form-field-border-width) * 2)) * -1);
    width: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    height: calc(var(--space-4) + calc(var(--form-field-border-width) * 2));
    margin: 0 0 0 calc(var(--space-4) * -1);
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
    background: var(--icon-url-search) no-repeat 0 0;
}

.xans-product-1 .layerDiscountPeriod {
    display: none;
    position: absolute;
    left: 50%;
    top: calc(var(--space-24) + calc(var(--form-field-border-width) * 2));
    width: calc((var(--space-96) * 2) + var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 3));
    margin: 0 0 0 calc(var(--space-96) * -1);
    border: var(--form-field-border-width) solid var(--text-sub);
    font-size: var(--caption-2-size);
    background-color: var(--bg-0);
}

.xans-product-1 .layerDiscountPeriod strong.title {
    display: block;
    margin: 0 0 var(--space-12);
    padding: 0 var(--space-32) 0 0;
    font-weight: var(--font-weight-bold);
    color: var(--line-strong);
}

.xans-product-1 .layerDiscountPeriod .content {
    padding: var(--space-8) var(--space-12) var(--space-12) var(--space-16);
}

.xans-product-1 .layerDiscountPeriod .content p {
    margin: var(--space-4) 0 0;
    font-size: var(--caption-2-size);
    color: var(--text-main);
    line-height: var(--space-16);
    color: var(--text-weak);
    letter-spacing: calc(var(--form-field-border-width) * -1);
}

.xans-product-1 .layerDiscountPeriod .content p strong {
    font-weight: var(--font-weight-regular);
    font-size: var(--caption-2-size);
    color: var(--line-strong);
}

.xans-product-1 .layerDiscountPeriod .content p strong span {
    font-size: var(--caption-2-size);
}

.xans-product-1 .layerDiscountPeriod .close {
    position: absolute;
    right: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    top: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
}

.xans-product-1 .layerDiscountPeriod .close img {
    cursor: pointer;
}