

#instagram_bn { display:inline-block; width: 100%; background-color:var(--bg-0); text-align:center; }
#instagram_bn_in { display:flex; width: 100%; }
#instagram_bn_img1 { flex:2 0 0%; display:flex; flex-wrap:wrap; }
#instagram_bn_img1 a { width: 100%; }
#instagram_bn_img1 img { width: 100%; height: 100%; object-fit:cover; }
#instagram_bn_title { flex:1.5 0 0%; display:flex; flex-direction:column; justify-content:center; align-items:center; font-size: var(--font-size-hidden); }
#instagram_bn_title img { width: var(--space-16); }
#instagram_bn_title span { font-size: var(--headline-2-size-en); font-weight:var(--headline-font-weight-en); font-family:var(--font-headline-en); line-height: var(--headline-2-line-height-en); letter-spacing: var(--headline-letter-spacing-en); color:var(--text-main); }
#instagram_bn_img2 { flex:3 0 0%; display:flex; flex-wrap:wrap; }
#instagram_bn_img2 a { width: calc( 100% / 3 ); }


@media (max-width: 1240px) {

#instagram_bn_title span { font-size: var(--headline-3-size-en);
    font-family: var(--font-headline-en);
    font-weight: var(--headline-font-weight-en);
    line-height: var(--headline-3-line-height-en);
    letter-spacing: var(--headline-letter-spacing-en);}
}



@media (max-width: 1000px) {

#instagram_bn_in { flex-wrap:wrap; }
#instagram_bn_img2 { flex:0 0 auto; width: 100%; }

#instagram_bn_title span { font-size: var(--title-2-size); }
}
