.xans-product-additional .gZoom { text-align:center; }
.xans-product-additional .gZoom img { margin: 0; }
.xans-product-additional .gZoom .btnBasic { position:fixed; top: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); right: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); z-index:100; }
