.xans-order-layerbasketpackage.ec-base-layer-area { z-index: 1111; }
.xans-order-layerbasket.content .totalCount { padding: var(--space-16) 0 var(--space-12); margin: 0 var(--space-24) var(--space-16); border-bottom: var(--form-field-border-width) solid var(--line-weak); font-size: var(--body-3-size); font-weight:var(--font-weight-bold); }
.xans-order-layerbasket.content .totalCount strong { color:var(--support-info); }
.xans-order-layerbasket.content ul.prdList { margin: 0 0 var(--space-24); font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
.xans-order-layerbasket.content ul.prdList .box { padding: var(--space-24) 0; display: flex; }
.xans-order-layerbasket.content ul.prdList .thumbnail { width: calc(var(--space-64) + var(--space-16) + calc(var(--form-field-border-width) * 3));}
.xans-order-layerbasket.content ul.prdList .info { flex:1; margin: 0 0 0 var(--space-16); }
.xans-order-layerbasket.content ul.prdList li.item { display:block; padding: 0 var(--space-16); vertical-align:top; border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-order-layerbasket.content ul.prdList li.item .box { margin: 0 auto; font-size: var(--caption-2-size); color:var(--line-strong); line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 2)); }
.xans-order-layerbasket.content ul.prdList li.item .box p { font-weight:var(--font-weight-regular); word-break:break-all; }
.xans-order-layerbasket.content ul.prdList .thumb { border: var(--form-field-border-width) solid var(--bg-100); max-width: 100% }
.xans-order-layerbasket.content ul.prdList .name a { color:var(--line-strong); }
.xans-order-layerbasket.content ul.prdList .name .ec-set-product-name { display:block; }
.xans-order-layerbasket.content ul.prdList .name img { margin: 0 0; }
.xans-order-layerbasket.content ul.column4 li.item { width: 25%; }
.xans-order-layerbasket.content ul.column4 li.item .box { width: calc(var(--space-96) + var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
.xans-order-layerbasket.content ul.prdList ul { margin: 0; }
.xans-order-layerbasket.content ul.prdList ul li { margin: var(--space-4) 0; color:var(--text-weak); }
.xans-order-layerbasket.content ul.prdList ul li.price {font-weight:var(--font-weight-bold); color:var(--text-main); }
.xans-order-layerbasket.content ul.prdList .strike { text-decoration:line-through; }
.xans-order-layerbasket.content ul.prdList .strike strong { font-weight:var(--font-weight-regular); }