/* 상품 리스트 장바구니 담기 레이어 */
/* LAYER POP */
.xans-product-basketoption {
	background:var(--line-default); overflow:hidden;
	position:fixed; top: 50%; left: 50%; width: calc((var(--space-96) * 5) + var(--space-16) + var(--space-4)); margin: calc(var(--space-96) * -1) 0 0 calc(var(--space-96) * -1); z-index:100; border: var(--form-field-border-width) solid var(--line-default);
}
.xans-product-basketoption .close { text-align:right; }
.xans-product-basketoption .close img { cursor:pointer; }

.xans-product-basketoption h1 { padding: 0 var(--space-24) var(--space-24); color:var(--line-strong); font-size: var(--title-2-size); }
.xans-product-basketoption .btnArea { overflow:hidden; background:var(--bg-0); padding: var(--space-32) var(--space-32) var(--space-32) var(--space-24) ; margin: 0; position:relative; left: 0; text-align:right; }
.xans-product-basketoption .btnArea img { margin: 0 0 0 calc(var(--space-4) * -1); }

.xans-product-basketoption .layInner { position:relative; padding: var(--space-24) var(--space-24) 0; border-top: var(--form-field-border-width) solid var(--text-disabled); overflow:auto; overflow-x:hidden; max-height: calc((var(--space-96) * 2) + var(--space-16) + calc(var(--form-field-border-width) * 2)); height: calc((var(--space-96) * 2) + var(--space-16) + calc(var(--form-field-border-width) * 2)); background:var(--bg-0); border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-product-basketoption .layInner p { padding: 0 0 var(--space-12); }
.xans-product-basketoption .layInner p span { padding: 0 0 0 var(--space-16); color:var(--support-warning); text-decoration:underline; }
.xans-product-basketoption table { margin: 0 0 var(--space-24); }
.xans-product-basketoption th { background:var(--bg-0); color:var(--text-main); font-weight:var(--font-weight-regular); padding: var(--space-4) 0; }
.xans-product-basketoption td { padding: var(--space-8) 0; text-align:center; vertical-align:middle; }
.xans-product-basketoption .chk { width: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
.xans-product-basketoption td.option { text-align:left;}
.xans-product-basketoption td.quantity { width: calc(var(--space-64) + var(--space-4) + calc(var(--form-field-border-width) * 2)); text-align:center; }
.xans-product-basketoption .quantity input { width: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); padding: 0 var(--space-4); border: var(--form-field-border-width) solid var(--line-default); background:none; text-align:center; }

.xans-product-optionlist td { border-bottom: var(--form-field-border-width) solid var(--line-default); }