.xans-product-hashtag {
    display: table;
    table-layout: fixed;
    width: calc((var(--space-96) * 3) + var(--space-48) + var(--space-8) + calc(var(--form-field-border-width) * 2));
    margin: var(--space-32) auto 0;
}

.xans-product-hashtag .heading {
    display: table-cell;
    width: calc(var(--space-32) + var(--space-8) + var(--form-field-border-width));
    vertical-align: top;
}

.xans-product-hashtag .heading>strong {
    display: inline-block;
    padding: var(--space-4) var(--space-4);
    border: var(--form-field-border-width) solid var(--line-default);
    color: var(--text-sub);
    font-size: var(--caption-2-size);
    font-weight: var(--font-weight-regular);
    border-radius: var(--radius-md);
    -webkit-border-radius: var(--radius-md);
    -moz-border-radius: var(--radius-md);
}

.xans-product-hashtag .list {
    display: table-cell;
    width: auto;
    vertical-align: top;
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
}

.xans-product-hashtag .list li {
    display: inline-block;
    margin: var(--space-4) var(--space-12) var(--space-4) 0;
}

.xans-product-hashtag .list li a {
    display: inline-block;
    word-break: break-all;
    word-wrap: break-word;
    text-decoration: underline;
    color: var(--text-sub);
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
}