.xans-product-listrecommend {
    margin: 0;
    background: var(--bg-100);
    border-bottom: var(--form-field-border-width) solid var(--line-default);
    padding: 0;
}

.xans-product-listrecommend:first-child h2 {
    border-top: 0;
}

.xans-product-listrecommend h2 {
    margin: 0;
    padding: var(--space-16) var(--space-16) 0;
    font-size: var(--body-3-size);
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
    color: var(--text-sub);
}

.xans-product-listrecommend img {
    max-width: 100%;
}

.xans-product-listrecommend li {
    vertical-align: top;
    margin: 0 0 var(--space-16);
}

.xans-product-listrecommend>ul>li>ul {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-16) var(--space-8) 0;
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
}

.xans-product-listrecommend>ul>li>ul>li {
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-size: var(--caption-2-size);
    line-height: var(--body-line-height);
}

/* swipe 기능을 사용하지않는경우 */
.xans-product-listrecommend>ul[class*="grid"] {
    display: table;
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-16) var(--space-8) 0;
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
}

.xans-product-listrecommend>ul[class*="grid"]>li {
    position: relative;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-size: var(--caption-2-size);
    line-height: var(--body-line-height);
}

.xans-product-listrecommend .thumbnail {
    padding: 0 var(--space-8);
    margin: 0 0 var(--space-8);
}

.xans-product-listrecommend .thumbnail img {
    width: 100%;
    border: var(--form-field-border-width) solid var(--line-weak);
}

.xans-product-listrecommend .information {
    position: relative;
    min-height: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    padding: 0 var(--space-8);
}

.xans-product-listrecommend .name {
    margin: 0 0 var(--space-12);
    line-height: var(--body-line-height);
    word-wrap: break-word;
}

.xans-product-listrecommend .name a {
    font-size: var(--caption-1-size);
    color: var(--text-weak);
}

.xans-product-listrecommend .icon {
    margin: 0 0 var(--space-12);
}

.xans-product-listrecommend .price {
    margin: 0 0 var(--space-12);
    color: var(--text-sub);
    font-size: var(--caption-1-size);
    line-height: var(--body-line-height);
}

.xans-product-listrecommend .price.sale {
    color: var(--text-main);
    font-size: var(--body-2-size);
}

.xans-product-listrecommend .strike {
    text-decoration: line-through;
}

.xans-product-listrecommend .grid2 li {
    width: 50%;
}

.xans-product-listrecommend .grid2 li .name a {
    font-size: var(--caption-1-size);
}

.xans-product-listrecommend .grid3 li {
    width: 33.333%;
}

.xans-product-listrecommend .grid3 li .name a {
    font-size: var(--caption-1-size);
}

.xans-product-listrecommend .grid4 li {
    width: 25%;
}

.xans-product-listrecommend .grid4 li .name a {
    font-size: var(--caption-2-size);
}