.xans-product-listnormal {
    background: var(--bg-0);
}

/* 타입 : 확대보기 */
html.popupFullSize,
html.popupFullSize body {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

html.popupFullSize .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 120;
    margin: calc(var(--space-16) * -1) 0 0 calc(var(--space-16) * -1);
}

html.popupFullSize .dimmed {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 110;
    background: var(--scrim-heavy);
}

.xans-product-listnormal.typeZoom {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--bg-0);
}

.xans-product-listnormal.typeZoom h1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 101;
    width: 100%;
    height: calc(var(--space-32) + calc(var(--form-field-border-width) * 3));
    border-bottom: var(--form-field-border-width) solid var(--border-translucent);
    color: var(--text-strong);
    font-size: var(--body-2-size);
    text-align: center;
    line-height: calc(var(--space-32) + var(--space-4));
    background: var(--surface-translucent);
}

.xans-product-listnormal.typeZoom .btnClose {
    position: absolute;
    right: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    top: calc(var(--space-8) + calc(var(--form-field-border-width) * 3));
    z-index: 101;
    overflow: hidden;
    width: calc(var(--space-12) + var(--form-field-border-width));
    height: calc(var(--space-12) + var(--form-field-border-width));
    border: 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    background: var(--icon-url-close) no-repeat 0 0;
    background-size: calc(var(--space-12) + var(--form-field-border-width)) calc(var(--space-12) + var(--form-field-border-width));
}

.xans-product-listnormal.typeZoom .zoomList { display:flex; align-items:center; flex-wrap:wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.xans-product-listnormal.typeZoom .zoomList .inner {
    position: relative;
    height: 100%;
}

.xans-product-listnormal.typeZoom .zoomList ul {
    position: relative;
    height: 100%;
}

.xans-product-listnormal.typeZoom .zoomList li { display:inline-flex; align-items:center;
    position: relative;
    width: 100%;
    height: 100%;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail {
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    text-align: center;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail p {
    display: table-cell;
    vertical-align: middle;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail .thumb {
    position: relative;
    display: inline-block;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail .prdIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 30% auto;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail .wish {
    position: absolute;
    right: calc(var(--space-4) + calc(var(--form-field-border-width) * 3));
    bottom: calc(var(--space-4) + calc(var(--form-field-border-width) * 3));
    z-index: 100;
}

.xans-product-listnormal.typeZoom .zoomList li .thumbnail .wish img {
    max-height: calc(var(--space-16) + var(--space-4) + calc(var(--form-field-border-width) * 3));
}

.xans-product-listnormal.typeZoom .zoomList .information {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--space-12) var(--space-16);
    width: 100%;
    border-top: var(--form-field-border-width) solid var(--border-translucent);
    font-size: var(--body-2-size);
    font-weight: var(--font-weight-bold);
    background: var(--surface-translucent);
    box-sizing: border-box;
}

.xans-product-listnormal.typeZoom .zoomList .information .name,
.xans-product-listnormal.typeZoom .zoomList .information .price {
    margin: 0 var(--space-96) var(--space-4) 0;
}

.xans-product-listnormal.typeZoom .zoomList .information .name {
    overflow: hidden;
    height: calc(var(--space-16) + var(--space-4));
    word-wrap: break-word;
}

.xans-product-listnormal.typeZoom .zoomList .information .name a {
    display: inline-block;
    width: 100%;
    color: var(--text-strong);
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.xans-product-listnormal.typeZoom .zoomList .information .price {
    word-wrap: break-word;
}

.xans-product-listnormal.typeZoom .zoomList .information .price a {
    color: var(--line-strong);
}

.xans-product-listnormal.typeZoom .zoomList .information .price .strike {
    color: var(--text-main);
    font-weight: var(--font-weight-regular);
    text-decoration: line-through;
}

.xans-product-listnormal.typeZoom .zoomList .information .detail {
    position: absolute;
    right: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    top: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
}

.xans-product-listnormal.typeZoom .btnStrong {
    height: calc(var(--space-32) + var(--form-field-border-width));
    line-height: calc(var(--space-32) + var(--form-field-border-width));
}

.xans-product-listnormal.typeZoom .pagenate {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 101;
    margin: calc(var(--space-16) * -1) 0 0;
}

.xans-product-listnormal.typeZoom .pagenate button {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: calc(var(--space-32) + var(--form-field-border-width));
    height: calc(var(--space-32) + calc(var(--form-field-border-width) * 2));
    padding: 0;
    border: 0;
    text-indent: 150%;
    white-space: nowrap;
    background-size: var(--space-12) auto;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: var(--overlay-light);
    box-shadow: var(--shadow-lv1);
}

.xans-product-listnormal.typeZoom .pagenate .prev {
    left: 0;
    background-image: var(--icon-url-left-arr);
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}

.xans-product-listnormal.typeZoom .pagenate .next {
    right: 0;
    background-image: var(--icon-url-right-arr);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}

/* Thumbnail icon position */
.ec-product-bgLT {
    background-position: left top;
}

.ec-product-bgLC {
    background-position: left center;
}

.ec-product-bgLB {
    background-position: left bottom;
}

.ec-product-bgRT {
    background-position: right top;
}

.ec-product-bgRC {
    background-position: right center;
}

.ec-product-bgRB {
    background-position: right bottom;
}

.ec-product-bgCT {
    background-position: center top;
}

.ec-product-bgCC {
    background-position: center center;
}

.ec-product-bgCB {
    background-position: center bottom;
}

/* 좋아요버튼 */
.xans-product-listnormal.typeZoom .likeButton {
    position: absolute;
    top: calc((var(--space-32) + var(--form-field-border-width)) * -1);
    right: 0;
    padding: var(--space-4) var(--space-16) var(--space-8) var(--space-16);
    background: var(--overlay-light-strong);
}

.xans-product-listnormal.typeZoom .likeButton button {
    background: none;
    border: none;
}

.xans-product-listnormal.typeZoom .likeButton button img {
    max-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 3));
}

.xans-product-listnormal.typeZoom .likeButton button strong {
    margin: 0 0 0 var(--space-4);
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-16) + var(--space-4));
    color: var(--text-weak);
}

.xans-product-listnormal.typeZoom .likeButton.selected button strong {
    color: var(--line-strong);
}

.xans-product-listnormal.typeZoom .samplelikewrap {
    display: inline-block;
    position: absolute;
    top: auto;
    bottom: calc(var(--space-48) + var(--space-12) + calc(var(--form-field-border-width) * 3));
    right: 0;
    background: var(--bg-0);
    z-index: 999;
}
