.xans-product-menupackage {
    margin: 0 0 var(--space-32) 0;
}

.xans-product-menupackage #titleArea h2 {
    padding: 0 var(--space-24);
    margin-top: var(--space-48);
    color: var(--line-strong);
    font-size: var(--display-4-size-ko);
    line-height: var(--display-4-line-height-ko);
    font-style: italic;
    font-weight: var(--display-font-weight-ko);
    font-family: var(--font-display-ko);
    letter-spacing: var(--display-letter-spacing-ko);}

.xans-product-menupackage #titleArea>h2>img {
    max-width: 100%;
}

.xans-product-menupackage .title { display:flex; align-items:center; flex-wrap:wrap; justify-content:space-between;
    min-height: calc(var(--space-8) + calc(var(--form-field-border-width) * 2));
    margin: 0 0 var(--space-24);
}

.xans-product-menupackage .banner {
    display: inline-block;
    width: 100%;
    margin: 0 0 0;
    text-align: center;
}

.xans-product-menupackage .banner img {
    max-width: 100%;
}

.xans-product-menupackage .title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0 0;
    color: var(--text-sub);
    font-size: var(--caption-2-size);
    /*none 0 50% no-repeat;*/
    text-align: center;
}

.xans-product-menupackage .title h2 span {
    width: auto;
    padding: var(--space-4) var(--space-64) var(--space-24) var(--space-64);
    border-bottom: 0 var(--line-default) double;
}

.xans-product-menupackage .title h2,
.xans-product-menupackage .title .likeButton {
    width: 100%;
    margin: 0 0 0 0;
    vertical-align: middle;
    text-align: center;
}

.xans-product-menupackage .title .likeButton {
    display: inline-block;
}

.xans-product-menupackage .title .likeButton button {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    color: var(--text-muted-strong);
    letter-spacing: calc(var(--form-field-border-width) * -1);
    background: none;
}

.xans-product-menupackage .title .likeButton.selected button {
    color: var(--text-muted-strong);
}

.xans-product-menupackage .menuCategory { display:flex; align-items:center; flex-wrap:wrap; justify-content:center;
    border: 0 solid var(--line-default);
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
    text-align: center;
}

.xans-product-menupackage .menuCategory>ul { display:flex; align-items:center; flex-wrap:wrap; justify-content:center;
    width: 100%;
}

.xans-product-menupackage .menuCategory>li {
    display: flex;
    width: auto;
    margin: var(--space-32) var(--space-12) var(--space-4) var(--space-12);
    font-size: var(--font-size-hidden);
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
    vertical-align: top;
}

.xans-product-menupackage .menuCategory>li>a {
    padding: var(--space-4) var(--space-4) var(--space-4) var(--space-4);
    font-size: var(--body-2-size);
    font-weight: var(--font-weight-regular);
    color: var(--text-muted-strong);
    /*background:var(--icon-url-right-arr) no-repeat 100% calc(var(--space-4) + var(--form-field-border-width));*/
    border: 0 var(--line-default) solid;
    text-align: center;
}

.xans-product-menupackage .menuCategory>li>a:hover {
    color: var(--text-disabled);
    text-decoration: none;
    border: 0 var(--text-disabled) solid;
    text-align: center;
}

.xans-product-menupackage .menuCategory>li.selected>a {
    /* color:var(--bg-0);  background:var(--text-disabled); */
}

.xans-product-menupackage .menuCategory>li .count {
    font-weight: var(--font-weight-regular);
}

.xans-product-menupackage .menuCategory>li>ul {
    display: none;
    padding: 0 0 0 0;
}

.xans-product-menupackage .menuCategory>li>ul>li {
    position: relative;
    margin: var(--space-8) 0 0 0;
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    font-size: var(--caption-1-size);
}

.xans-product-menupackage .menuCategory>li>ul>li>a {
    color: var(--text-sub);
}

.xans-product-menupackage .menuCategory>li>ul>li>a:hover,
.xans-product-menupackage .menuCategory>li>ul>li.selected>a {
    color: var(--text-disabled);
}


.xans-product-menupackage .menuCategory>li>img {
    display: none;
    position: relative;
    height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
    margin-top: calc(var(--space-12) * -1);
    cursor: pointer;
}

.xans-product-menupackage .menuCategory>li>img.subon_state {
    transform: rotate(180deg);
}

.xans-product-menupackage .menuCategory>li>ul>li>.button {
    display: inline-block;
    width: auto;
    height: auto;
    margin: calc(var(--space-4) * -1) 0 0 var(--space-4);
    vertical-align: top;
    cursor: pointer;
}

.xans-product-menupackage .menuCategory>li>ul>li>.button img {
    height: var(--space-12);
}

.xans-product-menupackage .menuCategory>li>ul>li>.button.subon_state>img {
    transform: rotate(180deg);
}

.xans-product-menupackage .subCategory {
    display: none;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, calc(var(--space-4) + var(--form-field-border-width)));
    width: auto;
    margin: 0 0 0 0;
    padding: 0 0;
    border: var(--form-field-border-width) solid var(--line-weak);
    font-size: var(--font-size-hidden);
    line-height: var(--line-height-hidden);
    background: var(--bg-0);
    z-index: 11;
    white-space: nowrap;
}

.xans-product-menupackage .subCategory li {
    display: block;
    width: auto;
    margin: var(--space-8) var(--space-12) var(--space-8) var(--space-12);
    font-size: var(--caption-1-size);
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 2));
    vertical-align: top;
}

.xans-product-menupackage .subCategory li a {
    color: var(--text-sub);
}

.xans-product-menupackage .subCategory li a:hover,
.xans-product-menupackage .subCategory li.selected a {
    color: var(--text-disabled);
}

.xans-product-menupackage .subCategory img {
    display: none;
}


@media (max-width: 1000px) {
    .xans-product-menupackage #titleArea h2 {
        font-size: var(--title-2-size);
        margin-top: var(--space-24);
    }

    .xans-product-menupackage .menuCategory>li {
        margin: var(--space-16) var(--space-4) var(--space-4) var(--space-4);
    }
}
