.xans-product-mobileimage { position:relative; margin: 0; }
.xans-product-mobileimage li { position:relative; vertical-align:middle; }
.xans-product-mobileimage .thumbnail { width: 100%; display:inline-block; position:relative; }
.xans-product-mobileimage img { width: 100%; max-width: 100%; max-height: 100%; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1000px) {
  /* typeSwipe */
  .ec-base-paginate.typeSwipe { font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
  .ec-base-paginate.typeSwipe button.circle { overflow:hidden; margin: 0 var(--space-4) 0 var(--space-4); width: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); height: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); border: 0; border-radius: var(--radius-card); cursor:pointer; background-color:var(--bg-0); opacity:0.5; }
  .ec-base-paginate.typeSwipe button.circle.selected { opacity:1; }
  .ec-base-paginate.typeSwipe span { overflow:hidden; font-size: var(--caption-2-size); line-height: var(--line-height-hidden); color:var(--overlay-transparent); text-indent: -150%; }
  .ec-base-paginate.typeSwipe button.prev,
  .ec-base-paginate.typeSwipe button.next { width: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 3)); font-size: var(--body-2-size); line-height: var(--body-line-height); border: 0; cursor:pointer; background:var(--icon-url-left-arr) no-repeat 50% 50%; background-size: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)) auto; }
  .ec-base-paginate.typeSwipe button.next { background:var(--icon-url-right-arr) no-repeat 50% 50%; background-size: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)) auto; }
  .ec-base-paginate.typeSwipe .prev,
  .ec-base-paginate.typeSwipe .next { display:none; }

  .xans-product-mobileimage .ec-base-paginate.typeSwipe { position:absolute; bottom: calc(var(--space-16) + var(--space-4)); left: 0; right: 0; text-align:center; }
}