.xans-product-normalmenu { display:none; overflow:hidden; padding: var(--space-16); background:var(--bg-0); }
.xans-product-normalmenu .sort { display:inline-flex; align-items:center; }
.xans-product-normalmenu .sort select { max-width: calc(var(--space-96) + var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }

.xans-product-normalmenu .viewType { margin-left: auto; display:inline-flex; align-items:center; width: calc(var(--space-96) + var(--space-32) + var(--space-4)); font-size: var(--font-size-hidden); }
.xans-product-normalmenu .viewType { border-radius: var(--radius-sm); -webkit-border-radius: var(--radius-sm); }
.xans-product-normalmenu .viewType li { display:inline-block; width: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 3)); height: calc(var(--space-24) + calc(var(--form-field-border-width) * 3)); border: var(--form-field-border-width) solid var(--line-default); border-right: 0; background-size: 50%; background-repeat:no-repeat; background-position: center; }
.xans-product-normalmenu .viewType li:first-child { border-radius: var(--radius-sm) 0 0 var(--radius-sm); -webkit-border-radius: var(--radius-sm) 0 0 var(--radius-sm); }
.xans-product-normalmenu .viewType li:last-child { border-radius: 0 var(--radius-sm) var(--radius-sm) 0; -webkit-border-radius: 0 var(--radius-sm) var(--radius-sm) 0; border-right: var(--form-field-border-width) solid var(--line-default); }
.xans-product-normalmenu .viewType li.selected { background-color:var(--text-sub); border-color:var(--text-sub); }
.xans-product-normalmenu .viewType li a { display:block; height: 100%; }

.xans-product-normalmenu .viewType li.list { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.thumb { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.gallery { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.slide { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.selected.list { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.selected.thumb { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.selected.gallery { background-image:var(--icon-url-notice); }
.xans-product-normalmenu .viewType li.selected.slide { background-image:var(--icon-url-notice); }
