/* 쿠폰 */
.xans-coupon-productdetailajax.ec-base-fold {
    margin: 0 var(--space-8) var(--space-8);
}

.xans-coupon-productdetailajax .contents {
    background: var(--bg-0);
}

.xans-coupon-productdetailajax .contents li {
    padding: var(--space-16);
    border-top: var(--form-field-border-width) solid var(--line-weak);
}

.xans-coupon-productdetailajax .contents li:first-child {
    border-top: 0;
}

.xans-coupon-productdetailajax .coupon {
    width: calc((var(--space-96) * 2) + var(--space-24));
    height: calc(var(--space-96) + var(--space-8) + var(--form-field-border-width));
    margin: var(--space-12) auto;
    font-size: var(--caption-2-size);
    line-height: var(--body-line-height);
    text-align: center;
    background-repeat: no-repeat;
}

.xans-coupon-productdetailajax .coupon .title {
    display: block;
    padding: var(--space-8) 0 0;
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3));
    text-align: center;
    font-weight: var(--font-weight-regular);
}

.xans-coupon-productdetailajax .coupon .discount {
    font-size: var(--title-3-size);
    line-height: calc(var(--space-24) + var(--space-4));
    font-weight: var(--font-weight-bold);
    text-align: center;
    letter-spacing: calc(var(--form-field-border-width) * -1);
    text-decoration: none;
}

.xans-coupon-productdetailajax .coupon .discount span {
    font-size: var(--headline-3-size-ko);
    font-family: var(--font-headline-ko);
    font-weight: var(--headline-font-weight-ko);
    line-height: var(--headline-3-line-height-ko);
    letter-spacing: var(--headline-letter-spacing-ko);
}

.xans-coupon-productdetailajax .coupon .period {
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-12) + var(--form-field-border-width));
    font-weight: var(--font-weight-bold);
    text-align: center;
    letter-spacing: calc(var(--form-field-border-width) * -1);
}

.xans-coupon-productdetailajax .coupon .button {
    margin: var(--space-4) 0 0;
    text-align: center;
}
