.xans-product-relation .relation h2 { display:block; font-weight:var(--font-weight-regular); text-align:center; }
.xans-product-relation .prdList::-webkit-scrollbar { width: var(--space-8); height: calc(var(--form-field-border-width) * 2); }
.xans-product-relation .prdList::-webkit-scrollbar-button { display:none; }
.xans-product-relation .prdList::-webkit-scrollbar-thumb { border: 0; background:var(--text-main); }

.xans-product-relation .prdList img { vertical-align:middle; }
.xans-product-relation .prdList__item { display:inline-block; vertical-align:top; }
.xans-product-relation .prdList__item .box { margin: 0 auto; font-size: var(--caption-1-size); line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 2)); }
.xans-product-relation .prdList__item .thumb img { width: 100%; }
.xans-product-relation .prdList__item .name { margin: 0 0 var(--space-16); }
.xans-product-relation .prdList__item .price { font-size: var(--body-1-size); color:var(--text-main); }
.xans-product-relation .prdList__item span:not(.salePrice.displaynone) + .prdPrice { margin-left: var(--space-8); font-size: var(--body-3-size); color:var(--text-disabled); text-decoration:line-through; }

.xans-product-relation .prdList__item .salePrice strong { color:var(--text-main); }
.xans-product-relation .prdList__item .strike { font-weight:var(--font-weight-regular); text-decoration:line-through; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-product-relation .relation { margin: var(--space-64) var(--space-16); }
    .xans-product-relation .relation h2 { margin: 0 0 var(--space-32); font-size: var(--headline-3-size-ko);
    font-family: var(--font-headline-ko);
    font-weight: var(--headline-font-weight-ko);
    line-height: var(--headline-3-line-height-ko);
    letter-spacing: var(--headline-letter-spacing-ko);}
	.xans-product-relation .prdList { margin-left: calc(var(--space-4) * -1); padding: 0 0 var(--space-48); white-space:nowrap; overflow:auto; }
    .xans-product-relation .prdList__item { width: calc(50% - var(--space-12)); margin: 0 var(--space-4); white-space: normal; }
    .xans-product-relation .prdList__item .thumb { display:block; margin: 0 0 var(--space-16); }

    .xans-product-relation .button { display:none; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    .xans-product-relation .relation { margin: var(--space-64) var(--space-24); }
    .xans-product-relation .prdList__item { width: 33.3%; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-relation .relation { margin: var(--space-96) 0; }
    .xans-product-relation .relation h2 { margin: 0 0 var(--space-48); font-size: var(--display-5-size-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);
    letter-spacing: var(--display-letter-spacing-ko);}
    .xans-product-relation .prdList { display:flex; flex-wrap:wrap; margin: 0 calc(var(--space-12) * -1); }
    .xans-product-relation .prdList__item { width: calc(20% - calc(var(--space-16) + var(--space-4))); margin: var(--space-48) var(--space-12) 0; }
    .xans-product-relation .prdList__item .thumb { display:block; margin: 0 0 var(--space-24); }
    .xans-product-relation .prdList__item .thumb img { max-width: calc((var(--space-96) * 2) + var(--space-32) + var(--space-8)); }
    .xans-product-relation .prdList .hidden { display:none; }
    .xans-product-relation .button { margin: var(--space-64) 0 0; text-align:center; }
}