a.xans-search-form { margin: 0 0 var(--space-24); }

/* .searchbox */
.xans-search-form .searchbox { margin: var(--space-24) 0 var(--space-24); padding: var(--space-48) 0; background:var(--bg-0); }
.xans-search-form .searchbox fieldset { width: calc((var(--space-96) * 5) + var(--space-4) + calc(var(--form-field-border-width) * 2)); margin: 0 auto; padding: 0 var(--space-48); }
.xans-search-form .searchbox .item { display:flex; align-items:center; margin: var(--space-8) 0 0; color:var(--text-muted-strong); line-height: calc(var(--space-16) + var(--space-4)); }
.xans-search-form .searchbox .item strong { display:inline-flex; align-items:center; width: calc(var(--space-64) + var(--space-8) + calc(var(--form-field-border-width) * 3)); padding: var(--space-4) var(--space-12) 0 0; }
.xans-search-form .searchbox .item input { padding: var(--space-4) var(--space-4) var(--space-4) var(--space-12); }
.xans-search-form .searchbox .popular { display:flex; align-items:center; margin: var(--space-8) 0 0 var(--space-96); font-size: var(--caption-2-size); line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 2)); }
.xans-search-form .searchbox .popular.xans-search-hotkeyword { margin-bottom: var(--space-16); }
.xans-search-form .searchbox .popular strong { display:inline-flex; align-items:center; min-width: calc(var(--space-48) + var(--space-4) + calc(var(--form-field-border-width) * 3)); padding: 0 var(--space-12) 0 0; color:var(--text-weak); }
.xans-search-form .searchbox .popular p a { margin: 0 var(--space-4) 0 0; padding: 0 0 0 var(--space-8); color:var(--text-weak); background:var(--icon-url-search) no-repeat 0 calc(var(--form-field-border-width) * 3); }
.xans-search-form .searchbox .popular p a:first-child { padding-left: 0; background:none; }
.xans-search-form .searchbox .popular a:hover { color:var(--support-warning); text-decoration:none; }
.xans-search-form .searchbox .button { margin: var(--space-32) 0 0 var(--space-96);}
.xans-search-form .noData { padding: var(--space-48) 0; text-align:center; line-height: var(--body-line-height); }
.xans-search-form .noData > strong { display:block; color:var(--text-main); }
.xans-search-form .noData > strong.warning { display:block; color:var(--support-info); }
.xans-search-form .noData ul { margin: var(--space-12) 0 0; }

/* Input Size */
.xans-search-form .searchbox select { height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
.xans-search-form .searchbox #category_no,
.xans-search-form .searchbox #order_by { width: calc((var(--space-96) * 4) + var(--space-16)); }
.xans-search-form .searchbox #search_type { width: calc(var(--space-96) + var(--space-24)); }
.xans-search-form .searchbox #keyword { width: calc((var(--space-96) * 2) + var(--space-64) + var(--space-4)); }
.xans-search-form .searchbox #exceptkeyword { width: calc((var(--space-96) * 2) + var(--space-8)); padding: var(--space-4) var(--space-4) var(--space-4) var(--space-12); }
.xans-search-form .searchbox #product_price1 { width: calc(var(--space-96) + var(--space-64) + var(--space-8) + calc(var(--form-field-border-width) * 2)); margin: 0 var(--space-4) 0 0; }
.xans-search-form .searchbox #product_price2 { width: calc(var(--space-96) + var(--space-64) + var(--space-8) + calc(var(--form-field-border-width) * 2)); margin: 0 0 0 var(--space-4); }

/* searchResult */
.xans-search-form .searchResult { overflow:hidden; border: var(--form-field-border-width) solid var(--line-default); text-align:right; line-height: calc(var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
.xans-search-form .searchResult .record { display:inline-flex; align-items:center; padding: 0 0 0 var(--space-8); color:var(--support-info); }
.xans-search-form .searchResult .listType { display:inline; margin: 0 var(--space-4) 0 0; }
.xans-search-form .searchResult .listType li { display:inline; padding: 0 var(--space-8) 0 var(--space-12); color:var(--line-strong); cursor:pointer; background: none; }
.xans-search-form .searchResult .listType li:hover { color:var(--support-info); text-decoration:none; }
.xans-search-form .searchResult .listType li:first-child { background:none; }