.xans-product-listnew { margin: 0; padding: 0; }
.xans-product-listnew:first-child h2 { border-top: 0; }
.xans-product-listnew h2 { margin: 0; padding: var(--space-16) var(--space-16) 0; font-size: var(--body-3-size); line-height: calc(var(--space-12) + calc(var(--form-field-border-width) * 3)); color:var(--text-sub); }
.xans-product-listnew img { max-width: 100%; }
.xans-product-listnew li { vertical-align:top; margin: 0 0 var(--space-16); }
.xans-product-listnew .prdList > li { position:relative; }
.xans-product-listnew > ul > li > ul > li {  display:inline-block; padding: 0; vertical-align:top; font-size: var(--caption-2-size); line-height: var(--body-line-height); }

/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-product-listnew.ec-base-product {margin-right: var(--space-16); margin-left: var(--space-16);}
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    .xans-product-listnew.ec-base-product {margin-right: var(--space-24); margin-left: var(--space-24);}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-product-listnew{margin: 0 calc(var(--space-12) * -1) 0 0;}
}
