html { opacity:0; }
#reviewlayout #container { min-height:0px !important; }
#reviewlayout,
#wrap,
#container,
#contents,
#review_detail,
#review_detail > form,
#review_detail > form > .xans-board-read { max-height:100vh; }

#review_detail { display:flex; }
#review_detail > form { width:55%; height:100vh; }
#review_detail_left { width:100%; height:100%; }
#review_detail_left > br { display:none; }
#review_detail_swiper { height:100%; }
#review_detail_swiper .swiper-slide { height:auto; }
#review_detail_swiper .swiper-slide img { width:100%; height:100%; object-fit:cover; }
#review_detail_swiper .swiper-button-next,
#review_detail_swiper .swiper-button-prev { margin-top:0px; background:none; width:30px; height:30px; }
#review_detail_swiper .swiper-button-next:after, #review_detail_swiper .swiper-button-prev:after { display:none; }
#review_detail_swiper .swiper-index { position:absolute; bottom:10px; left:50%; transform:translateX(-50%); padding:4px 10px 6px; border-radius:20px; z-index:1; background-color:rgba(0,0,0,0.3); color:#fff; }


#review_detail_right { width:45%; height:100vh; padding:2.5%; overflow-y:auto; box-sizing:border-box; }
#review_detail_right::-webkit-scrollbar { width:4px; }
#review_detail_right::-webkit-scrollbar-track { border-radius:2px; background-color:rgba(0,0,0,0.15); }
#review_detail_right::-webkit-scrollbar-thumb { border-radius:2px; background-color:rgba(0,0,0,0.65); }
#review_detail_right .xans-board-product { display:flex; margin-bottom:6%; }
#review_detail_right .xans-board-product .thumbnail { width:20%; margin-right:30px; aspect-ratio:1/1; overflow:hidden; border-radius:50%; }
#review_detail_right .xans-board-product .thumbnail img { width:100%; height:100%; object-fit:cover; }
#review_detail_right .xans-board-product .information { flex:1; display:flex; flex-direction:column; justify-content:center; }

#review_detail_right #view_title { padding:15px; border-top:1px solid #000; }
#review_detail_right #view_title .adminAnswer { display:none; }

#review_detail_right #view_writer { display: flex; padding:0px 15px 15px; border-bottom:1px solid #000; }
#review_detail_right #view_writer > div:first-child { margin-right:auto; }
#review_detail_right #view_writer > div:first-child span:first-child { margin-right:5px; }

#review_detail_right #view_content { padding:40px 10px; font-size:15px; font-weight:bold; }

#review_detail_right #review_modify_bt { display:flex; flex-wrap:wrap; justify-content:flex-end; }
#review_detail_right #review_modify_bt > div { width;100%; margin-bottom:6px; }
#review_detail_right #review_modify_bt > div > span { font-size:11px; color:#666; }
#review_detail_right #review_modify_bt input[type="password"] { max-width:100px; height:24px; line-height:24px; padding:2px 4px; }
#review_detail_right #review_modify_bt > span > a:first-child { margin-left:0px !important; }
#review_detail_right #review_modify_bt [class^='btn'].sizeS { min-width:0; height:auto; margin-left:6px; padding:5px; font-size:12px; }
#review_detail_right #review_comment_bt { display:flex; justify-content:space-between; }
#review_detail_right #review_comment_bt.ec-base-button [class^='btn'].sizeS { height:auto; padding:5px; font-size:12px; }
#review_detail_right #review_comment_bt.ec-base-button:after { display:none; }


@media all and (max-width:1000px) {
    #reviewlayout #container #contents { width:100%; } 
}


@media all and (max-width:700px) {    
    #review_detail { flex-direction:column; height:100vh; }
    #review_detail > form  { width:100%; height:60%; }
    #review_detail_right { width:100%; height:40%; }
	#review_detail_right .xans-board-product { margin-bottom:4%; }
}