@media all and (min-width:1024px) {

	/* 레이아웃 테마02 */
	/* 상단 */
	#header.layout2 .inner .top_nav_box .top_logo {justify-content:flex-start;align-items:center;}
	#header.layout2 .inner .top_nav_box .top_category {margin: 0 var(--space-96) 0 calc(var(--space-24) * -1);}
	#header.layout2 .inner .top_nav_box .top_category > ul {justify-content: flex-start;}
	#header.layout2 .inner .top_nav_box .top_nav {margin-right: var(--space-24);flex-basis:auto;}

	/* 하단 */
	#footer.layout2 .inner .bt_logo {text-align:right;}
	#footer.layout2 .inner .bt_wrap {flex-direction:row-reverse;}
	#footer.layout2 .inner .bt_cscenter {order:2;margin: 0 var(--space-96) 0 0;}
	#footer.layout2 .inner .bt_util ul {justify-content:flex-end;}
	#footer.layout2 .inner .bt_bank {margin-left: 0;margin-right: auto;order:1;}
	#footer.layout2 .inner .bt_info {text-align:right;}
	#footer.layout2 .inner .bt_info .bt_info_list {justify-content:flex-end;}
	#footer.layout2 .inner .bt_info .bt_info_list > div {margin: 0 0 0 var(--space-12);}



	/* 레이아웃 테마03 */
	/* 상단 */
	#header.layout3 .inner .top_nav_box {flex-wrap:nowrap;align-items:flex-start;}
	#header.layout3 .inner .top_nav_box .top_logo {flex-basis:auto;align-items:center;margin: 0 var(--space-64) 0 0;order:2;height: calc(var(--space-64) + var(--space-16));}
	#header.layout3 .inner .top_nav_box .top_nav {top: 0;flex-basis:auto;order:1;}
	#header.layout3 .inner .top_nav_box div[data-ez-module='menu-main/1'] {order:3;}
	#header.layout3 .inner .top_nav_box .top_category {margin: 0 var(--space-96) 0 0;}
	#header.layout3 .inner .top_nav_box .top_category > ul {justify-content: flex-start;}
	#header.layout3 .inner .top_nav_box .top_mypage {top: 0;flex-basis:auto;order:4;}
	#header.layout3 .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {top: calc(var(--space-32) + var(--space-8));}

	/* 하단 */
	#footer.layout3 .inner .bt_logo {margin: 0 auto var(--space-48);text-align:center;}
	#footer.layout3 .inner .bt_util {margin: 0 auto var(--space-48);text-align:center;}
	#footer.layout3 .inner .bt_util ul {justify-content:center;align-items:center;}
	#footer.layout3 .inner .bt_wrap {flex-direction:column;justify-content:center;align-items:center;margin: 0;}
	#footer.layout3 .inner .bt_cscenter {margin: 0 auto var(--space-48);text-align:center;order:2;justify-content:center;}
	#footer.layout3 .inner .bt_cscenter .title {display:block;margin: 0;width: 100%;}
	#footer.layout3 .inner .bt_bank {margin: 0 auto var(--space-48);text-align:center;order:3;}
	#footer.layout3 .inner .bt_bank .title {display:block;margin: 0;width: 100%;}
	#footer.layout3 .inner .bt_bank .title_sub {line-height: var(--body-line-height);font-size: var(--layout-caption-font-size);}
	#footer.layout3 .inner .bt_info {margin: 0 auto var(--space-48);text-align:center;order:1;}
	#footer.layout3 .inner .bt_info .bt_info_list {justify-content:center;}
	#footer.layout3 .inner .bt_info .bt_info_list > div {margin: 0 var(--space-4);}
	#footer.layout3 .inner .bt_escrow {justify-content:center;margin-bottom: 0;}
	#footer.layout3 .inner .bt_wrap2 {border: 0;padding: 0;margin-top: var(--space-48);flex-direction:column-reverse;justify-content:center;align-items:center;}
	#footer.layout3 .inner .bt_wrap2 .bt_sns {margin-bottom: var(--space-48);}



	/* 레이아웃 테마04 */
	/* 상단 */
	#header.layout4 .inner {position:relative;}
	#header.layout4 .inner .toparea {flex-direction:row-reverse;}
	#header.layout4 .inner .toparea .toparea_state {margin-left: calc(var(--space-24) * -1);}
    #header.layout4 .inner .toparea .toparea_shoppinginfo .xans-layout-shoppinginfo li {margin: 0 0 0 var(--space-12);}
	#header.layout4 .inner .top_nav_box .top_nav {position:absolute;top: calc((var(--space-48) + var(--space-12)) * -1);left: 0;z-index:11;}
	#header.layout4 .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-48) + calc(var(--form-field-border-width) * 2));}
	#header.layout4 .inner .top_nav_box .top_nav .eNavFold .icon.icoNav {margin: 0 auto;}
	#header.layout4 .inner .top_nav_box .top_category {margin: 0 var(--space-96) 0 calc(var(--space-24) * -1);}
	#header.layout4 .inner .top_nav_box .top_category ul {justify-content: flex-start;}
	#header.layout4.fixed .inner .top_nav_box .top_nav {top: calc(var(--space-48) + var(--space-12));}
	#header.layout4.fixed .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-64) + var(--space-16));}
	#header.layout4.fixed .inner .top_nav_box .top_category {margin: 0 var(--space-96) 0 var(--space-24);}



	/* 레이아웃 테마05 */
	/* 상단 */
	#header.layout5 .inner {position:relative;}
	#header.layout5 .inner .top_nav_box .top_logo {align-items:center;}
	#header.layout5 .inner .top_nav_box .top_mypage {top: 0;height: calc(var(--space-64) + var(--space-4) + calc(var(--form-field-border-width) * 2));}
	#header.layout5 .inner .top_nav_box .top_nav {top: 0;}
	#header.layout5 .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-64) + var(--space-4) + calc(var(--form-field-border-width) * 2));}
	#header.layout5 .inner .top_nav_box .top_category {margin: 0 auto;}
	#header.layout5 .inner .top_nav_box .top_mypage a.xans-layout-orderbasketcount .count {top: calc(var(--space-32) + calc(var(--form-field-border-width) * 3));}


	/* 풀사이즈 */
	#contents > .section {max-width: calc((var(--space-96) * 12) + var(--space-64) + var(--space-12) + calc(var(--form-field-border-width) * 2));width: 92%;margin-left: auto;margin-right: auto;}
	.section_full {width: 100%;max-width: 100%;}
}

@media all and (max-width:1780px) {

	/* 레이아웃 테마03 */
	#header.layout3 .inner .top_nav_box .top_category > ul > li {height: calc(var(--space-64) + var(--space-16));}
	#header.layout3 .inner .top_nav_box .top_category > ul > li > a {line-height: calc(var(--space-64) + var(--space-12) + calc(var(--form-field-border-width) * 2));}
	#header.layout3 .inner .top_nav_box .top_mypage {height: calc(var(--space-64) + var(--space-16));}
	#header.layout3 .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-64) + var(--space-16));}
	#header.layout3 .inner .top_nav_box .top_category .sub_cate01,
	#header.layout3 .inner .top_nav_box .top_category .sub-category {top: calc(var(--space-64) + var(--space-16));}


	/* 레이아웃 테마04 */
	#header.layout4.fixed .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-48) + calc(var(--form-field-border-width) * 2));}
}

@media all and (max-width:1024px) {
	#header.layout3 .inner .top_nav_box .top_mypage {height: calc(var(--space-64) + var(--form-field-border-width));}
	#header.layout3 .inner .top_nav_box .top_nav .eNavFold {height: calc(var(--space-64) + var(--form-field-border-width));}
}
