#popup { width: calc((var(--space-96) * 4) + var(--space-48) + var(--space-12)); }

.xans-poll-result .ec-base-box { margin: 0 0 var(--space-12); font-size: var(--caption-2-size); }
.xans-poll-result .ec-base-box h2 { font-size: var(--body-1-size); padding: 0 0 var(--space-4); }

.xans-poll-result .result { padding: var(--space-12) 0 0; }
.xans-poll-result .result li { padding: var(--space-8) var(--space-4); border-bottom: var(--form-field-border-width) solid var(--text-disabled); font-size: var(--caption-2-size); }
.xans-poll-result .result p { overflow:hidden; padding: var(--space-4) 0; }
.xans-poll-result .result p.title strong { font-size: var(--caption-2-size); }
.xans-poll-result .result p.title span { padding: 0 0 0 var(--space-12); }
.xans-poll-result .result p.graph em { display:inline-flex; align-items:center; width: calc(var(--space-32) + var(--space-8)); font-style:normal; }
.xans-poll-result .result p.graph span.box { display:inline-flex; align-items:center; width: calc((var(--space-96) * 3) + var(--space-48) + var(--space-12) + calc(var(--form-field-border-width) * 2)); padding: 0 var(--space-4) 0 0; background:var(--icon-url-notice) 0 var(--form-field-border-width) no-repeat; }
.xans-poll-result .result p.graph span.box span { display:block; height: var(--space-16); margin: 0 0 0 var(--space-4); background:var(--icon-url-notice) right var(--form-field-border-width) no-repeat; }