.xans-calendar-headday { position:relative; text-align:center; }
.xans-calendar-headday .date { display:inline; color:var(--brand-accent-soft); font-size: var(--display-5-size-ko); letter-spacing: var(--display-letter-spacing-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);}
.xans-calendar-headday .date img { vertical-align:middle; }
.xans-calendar-headday .button { position:absolute; right: 0; top: 0; }

.xans-calendar-listdayhead th { padding: var(--space-8) 0; color:var(--brand-accent-soft); border-top: var(--form-field-border-width) solid var(--brand-accent-soft); }

.xans-calendar-daypackage .calendar { margin: var(--space-24) 0 0; }
.xans-calendar-listday th,
.xans-calendar-listday td { padding: var(--space-4); border: var(--form-field-border-width) solid var(--line-default); background:var(--bg-100); color:var(--text-disabled); font-weight:var(--font-weight-regular); vertical-align:middle;  line-height: var(--body-line-height); }
.xans-calendar-listday th { text-align:center; color:var(--text-disabled); font-weight:var(--font-weight-regular); }
.xans-calendar-listday td li a,
.xans-calendar-listday td li a:hover { color:var(--text-disabled); }