.xans-calendar-headfield { position:relative; text-align:center; }
.xans-calendar-headfield .date { display:inline; color:var(--brand-accent-soft); font-size: var(--display-5-size-ko); letter-spacing: var(--display-letter-spacing-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);}
.xans-calendar-headfield .date img { vertical-align:middle; }
.xans-calendar-headfield .button { position:absolute; right: 0; top: 0; }

.xans-calendar-listfield { display:flex; align-items:center; flex-wrap:wrap; margin: var(--space-24) 0 0; }
.xans-calendar-listfield th { padding: var(--space-8) 0; color:var(--brand-accent-soft); border-top: var(--form-field-border-width) solid var(--brand-accent-soft); }

.xans-calendar-listfield td { padding: var(--space-4); border: var(--form-field-border-width) solid var(--line-default); background:var(--bg-100); text-align:center; }
.xans-calendar-listfield td .inner { position:relative; }
.xans-calendar-listfield td strong { color:var(--text-disabled); }
.xans-calendar-listfield td a, .xans-calendar-listfield td a:hover { color:var(--text-disabled); }

.xans-calendar-listfield .viewContentLayer { position:absolute; left: 50%; top: calc(var(--space-16) + var(--space-4)); z-index:50; width: calc((var(--space-96) * 3) + var(--space-12)); padding: var(--space-8); margin-left: calc(var(--space-96) * -1); background:var(--bg-0); border: calc(var(--form-field-border-width) * 2) solid var(--brand-accent-soft); color:var(--text-disabled); }
.xans-calendar-listfield .viewContentLayer p { padding: var(--space-12) 0; }
.xans-calendar-listfield .viewContentLayer .date { display:block; color:var(--brand-accent-soft); }
.xans-calendar-listfield .closeContentLayer { display:inline-flex; align-items:center; margin: calc(var(--space-4) * -1) calc(var(--space-4) * -1) 0 auto; width: calc(var(--space-16) + var(--space-4)); color:var(--brand-accent-soft); font-size: var(--caption-2-size); line-height: calc(var(--space-16) + var(--space-4)); background:var(--bg-0); font-weight:var(--font-weight-bold); }
