#popup { width: calc((var(--space-96) * 6) + var(--space-24)); height: calc((var(--space-96) * 5) + var(--space-16) + var(--space-4)); }
.xans-calendar-view .content table { border: var(--form-field-border-width) solid var(--line-default); }
.xans-calendar-view .content th { padding: var(--space-12) 0 var(--space-12); border-right: var(--form-field-border-width) solid var(--line-weak); background:var(--bg-50); }
.xans-calendar-view .content td { padding: var(--space-8) var(--space-4) var(--space-4); border-top: var(--form-field-border-width) solid var(--line-weak); border-right: var(--form-field-border-width) solid var(--line-weak); text-align:center; vertical-align:middle; }
.xans-calendar-view .content td.left,
.xans-calendar-view .calendar_view_contents td { text-align:left; padding-left: var(--space-12); }
.confirm_yes,
.confirm_no { display:inline-block; width: calc(var(--space-16) + calc(var(--form-field-border-width) * 2)); height: var(--space-16); }
.confirm_yes { background:var(--icon-url-check) 0 0 no-repeat; }
.confirm_no { background:var(--icon-url-notice) 0 0 no-repeat; }
