.xans-calendar-headweek { position:relative; text-align:center; }
.xans-calendar-headweek .date { display:inline; color:var(--brand-accent-soft); font-size: var(--display-5-size-ko); letter-spacing: var(--display-letter-spacing-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);}
.xans-calendar-headweek .date img { vertical-align:middle; }
.xans-calendar-headweek .button { position:absolute; right: 0; top: 0; }

.xans-calendar-weekpackage .calendar { margin: var(--space-24) 0 0; }
.xans-calendar-listweekhead th { padding: var(--space-8) 0; color:var(--brand-accent-soft); border-top: var(--form-field-border-width) solid var(--brand-accent-soft); }
.xans-calendar-listweekhead th.sun { color:var(--support-warning); }
.xans-calendar-listweekhead th.sat { color:var(--text-disabled); }

.xans-calendar-listweek th,
.xans-calendar-listweek td { padding: var(--space-4); border: var(--form-field-border-width) solid var(--line-default); background:var(--bg-100); color:var(--text-disabled); font-weight:var(--font-weight-regular); vertical-align:middle;  line-height: var(--body-line-height); }
.xans-calendar-listweek .week_today, .xans-calendar-listweek .exist_data { background:var(--brand-light); }
.xans-calendar-listweek td li a { color:var(--text-disabled); line-height: var(--body-line-height); }