.xans-board-listpackage-6 { display:inline-flex; flex-direction:column; align-items:stretch; position:relative; width: 49%; margin: var(--space-32) 0 0 2%; vertical-align:top; }
.xans-board-listpackage-6 h2 { margin: 0 0 var(--space-16); color:var(--line-strong); font-size: var(--caption-2-size); }
.xans-board-listpackage-6 .more { position:absolute; top: calc(var(--space-4) * -1); right: 0; }

.xans-board-listpackage-6 .ec-base-table td { font-size: var(--caption-2-size); color:var(--text-disabled); }
.xans-board-listpackage-6 .ec-base-table td.title a,
.xans-board-listpackage-6 .ec-base-table td.title a:hover { color:var(--text-sub);}
