.xans-layout-boardinfo { margin: 0 0 var(--space-24); padding: 0 0 var(--space-24); border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-layout-boardinfo h2 { height: calc(var(--space-16) + var(--space-4)); color:var(--line-strong); font-size: var(--caption-2-size); }
.xans-layout-boardinfo li { padding: var(--space-8); }
.xans-layout-boardinfo li img { vertical-align:middle; }
.xans-layout-boardinfo a { color:var(--line-strong); text-decoration:none; }
.xans-layout-boardinfo a:hover { color:var(--support-info); }