.xans-layout-footer { position:relative;  }
.xans-layout-footer .util { overflow:hidden; }
.xans-layout-footer .util li { display:inline-block;  }
.xans-layout-footer .util li a { color:var(--text-main); text-transform:uppercase; }
.xans-layout-footer .info__address { color:var(--text-weak); line-height: var(--space-24); }
.xans-layout-footer .info__address span { display:inline-block; padding: 0 var(--space-24) 0 0; color:var(--text-weak); }
.xans-layout-footer .info__address span a { color:var(--text-weak); }
.xans-layout-footer .sns a { overflow:hidden; display:inline-block; width: calc(var(--space-16) + var(--space-4)); height: calc(var(--space-16) + var(--space-4)); margin-right: var(--space-16); white-space:nowrap; font-size: var(--caption-2-size); line-height: var(--control-line-height); color:var(--overlay-transparent); text-indent: 150%; vertical-align:top; }
.xans-layout-footer .copyright { color:var(--text-weak); }
.xans-layout-footer .hosting { color:var(--text-main); }

/********************* Mobile *********************/
@media all and (max-width:767px) {
    .xans-layout-footer { padding: 0 var(--space-16); }
    .xans-layout-footer .util { overflow:hidden; margin: var(--space-32) 0 var(--space-24); }
    .xans-layout-footer .util li { margin: 0 var(--space-16) 0 0; }
    .xans-layout-footer .util li a { display:block;  font-size: var(--body-3-size); line-height: calc(var(--space-32) + calc(var(--form-field-border-width) * 2)); }
	.xans-layout-footer .info__address span { display:inline-block; font-size: var(--caption-2-size); line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 3)); word-break: keep-all; }
    .xans-layout-footer .info__customer .tel { font-size: var(--title-2-size); }
    .xans-layout-footer .info__customer .runtime { margin: var(--space-12) 0 0; font-size: var(--caption-2-size); line-height: calc(var(--space-16) + var(--space-4)); color:var(--text-weak); }
    .xans-layout-footer .copyright { margin: var(--space-12) 0 0; font-size: var(--caption-2-size); }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-layout-footer .sns { margin: var(--space-24) 0 var(--space-32); }
    .xans-layout-footer .info { display:flex; flex-direction:column-reverse; }
    .xans-layout-footer .info__customer { margin: 0 calc(var(--space-24) * -1); padding: var(--space-32) var(--space-24); border-top: var(--form-field-border-width) solid var(--line-weak); }
    .xans-layout-footer .info__customer .heading { position:relative; }
    .xans-layout-footer .info__customer .toggle { position:absolute; top: 0; width: 100%; height: 100%; overflow:hidden; white-space:nowrap; text-indent: 150%; font-size: var(--caption-2-size); color:var(--overlay-transparent); line-height: var(--control-line-height); }
    .xans-layout-footer .info__customer .toggle .icon { position:absolute; top: calc(var(--space-4) + var(--form-field-border-width)); right: calc(var(--space-4) + var(--form-field-border-width)); }
    .xans-layout-footer .info__customer .content { overflow:hidden; visibility:hidden; height: 0; box-sizing:border-box; transition:.5s; }
    .xans-layout-footer .info__customer.selected .toggle .icon { margin-top: var(--space-4); transform: rotate(135deg); }
    .xans-layout-footer .info__customer.selected .content {  visibility:visible; height: auto; margin: var(--space-24) 0 0; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    .xans-layout-footer { padding: 0 var(--space-24); }
    .xans-layout-footer .util { overflow:hidden; margin: var(--space-32) 0; }
    .xans-layout-footer .util li { margin: 0 var(--space-24) 0 0; }
    .xans-layout-footer .util li a { font-size: var(--body-2-size); line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
	.xans-layout-footer .info__address span { display:inline-block; font-size: var(--body-3-size); line-height: calc(var(--space-24) + var(--form-field-border-width)); word-break: keep-all; }
    .xans-layout-footer .info__customer .tel { font-size: var(--title-2-size); }
    .xans-layout-footer .info__customer .runtime { margin: var(--space-16) 0 0; font-size: var(--body-2-size); line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); color:var(--text-weak); }
    .xans-layout-footer .copyright { margin: var(--space-24) 0 0; font-size: var(--caption-1-size); }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-layout-footer .util li a { display:block; margin-right: var(--space-32); font-size: var(--body-2-size); line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
    .xans-layout-footer .info { display:flex; margin: var(--space-32) 0 0; }
	.xans-layout-footer .info .title { display:block; color:var(--text-main); margin: 0 0 var(--space-24); font-size: var(--body-1-size); }
    .xans-layout-footer .info__address { flex:1; padding: 0 var(--space-24) 0 0; }
    .xans-layout-footer .info__address span { padding: 0 var(--space-24) 0 0; font-size: var(--body-3-size); line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); }
    .xans-layout-footer .info__customer { width: calc((var(--space-96) * 3) + var(--space-16) + var(--space-4)); padding: 0 var(--space-24) 0 0; box-sizing:border-box; }
    .xans-layout-footer .info__customer .toggle { display:none; }
    .xans-layout-footer .info__customer .tel { font-size: var(--title-2-size); }
    .xans-layout-footer .info__customer .runtime { margin: var(--space-16) 0 0; font-size: var(--body-3-size); line-height: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2)); color:var(--text-weak); }
    .xans-layout-footer .info__community a { display:block; margin: var(--space-4) 0; padding: var(--space-8) 0; font-size: var(--body-3-size); color:var(--text-weak); }
    .xans-layout-footer .sns { position:absolute; right: 0; bottom: 0; }
    .xans-layout-footer .copyright { margin: var(--space-96) 0 0; font-size: var(--caption-1-size); }
}
