.xans-layout-mobilenavigation ul { display:flex; align-items:center; flex-wrap:wrap; overflow:hidden; background:var(--text-sub); }
.xans-layout-mobilenavigation ul li { display:inline-flex; align-items:center; }
.xans-layout-mobilenavigation ul li a { display:block; height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 3)); font-size: var(--caption-1-size); line-height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 3)); color:var(--bg-0); text-align:center; }
.xans-layout-mobilenavigation ul.grid4 li { width: 25%; }
.xans-layout-mobilenavigation ul.grid5 li { width: 20%; }
