.xans-layout-multishopshipping { display:none; }
.xans-layout-multishopshipping .worldshipLayer { width:448px; max-width:90vw; }
.xans-layout-multishopshipping .worldshipLayer .content .desc { display:none; margin:4px 0 14px; }
.xans-layout-multishopshipping .worldshipLayer select { width:100%; margin:10px 0 0; }