.xans-layout-multishopshipping { display:none; }
.xans-layout-multishopshipping .worldshipLayer { width: calc((var(--space-96) * 4) + var(--space-64)); max-width: 90vw; }
.xans-layout-multishopshipping .worldshipLayer .content .desc { display:none; margin: var(--space-4) 0 var(--space-16); }
.xans-layout-multishopshipping .worldshipLayer select { width: 100%; margin: var(--space-12) 0 0; }