.xans-layout-multishoplist.list .toggle span > img { vertical-align:middle }
.xans-layout-multishoplist.list > ul { visibility: hidden; height: 0; padding: var(--space-12) var(--space-24); border: var(--form-field-border-width) solid var(--text-main); background:var(--bg-0); }
.xans-layout-multishoplist.list > ul li { position:relative; margin: var(--space-8) 0; }
.xans-layout-multishoplist.list > ul li a { display:block; overflow:hidden; font-size: var(--caption-2-size); white-space:nowrap; text-decoration:none; text-overflow:ellipsis; }
.xans-layout-multishoplist.list.show > ul { visibility:visible; height: auto; }

/********************* Mobile *********************/
@media all and (max-width:767px) {
.xans-layout-multishoplist.list { margin: var(--space-32) 0; padding: 0 var(--space-16); }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
.xans-layout-multishoplist.list { display:inline-block; width: 100%; box-sizing:border-box; }
.xans-layout-multishoplist.list .toggle { position:relative; display:block; width: 100%; height: calc(var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 2)); line-height: calc(var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 2)); font-size: var(--body-1-size); text-align:left; background:var(--bg-0); border-bottom: var(--form-field-border-width) solid var(--text-main); }
    .xans-layout-multishoplist.list .icon { position:absolute; right: calc(var(--space-4) + var(--form-field-border-width)); top: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); }
    .xans-layout-multishoplist.list > ul { position: absolute; z-index: 1; width: calc(100% - var(--space-32)); margin: 0 0 0; box-sizing: border-box;}
    .xans-layout-multishoplist.list > ul li a { display:block; margin: var(--space-4) 0; padding: var(--space-8) 0; font-size: var(--caption-1-size); text-decoration:none; }
}


/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
     .xans-layout-multishoplist.list { margin: var(--space-64) 0 var(--space-32); padding: 0 var(--space-24); }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
.xans-layout-multishoplist.list { display:inline-block; position:absolute; z-index:10; left: calc(var(--space-48) + calc(var(--form-field-border-width) * 2)); top: calc(var(--space-48) + var(--space-8) + calc(var(--form-field-border-width) * 2)); height: calc(var(--space-24) + var(--space-4)); }
.xans-layout-multishoplist.list .toggle { display:block; width: 100%; height: calc(var(--space-24) + var(--space-4)); line-height: calc(var(--space-24) + var(--space-4)); font-size: var(--caption-2-size); text-align:left; background:var(--bg-0); }
    .xans-layout-multishoplist.list .icon { position:absolute; right: 0; top: calc(var(--space-4) + calc(var(--form-field-border-width) * 3)); }
}
