.xans-layout-myshop { margin: 0 0 var(--space-24); padding: 0 0 var(--space-12); border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-layout-myshop h2 { height: calc(var(--space-24) + calc(var(--form-field-border-width) * 2)); color:var(--line-strong); font-size: var(--caption-2-size); }
.xans-layout-myshop ul { padding: 0 0 0 var(--space-4); }
.xans-layout-myshop li { padding: 0 var(--space-8) 0 var(--space-4); line-height: calc(var(--space-32) + var(--form-field-border-width)); }
.xans-layout-myshop li.mileage { background:none; }
.xans-layout-myshop li.consult { background:none; }
.xans-layout-myshop li.wish { background:none; }
.xans-layout-myshop a { color:var(--line-strong); }