.projectItem.xans-layout-project h2 { display:block; color:var(--line-strong); }
.projectItem.xans-layout-project li a {display: block; }
.projectItem.xans-layout-project li img { width: 100%; }

/********************* Mobile *********************/
@media all and (max-width:767px) {
    .projectItem.xans-layout-project ul { overflow-x: auto; display:flex; padding: 0 var(--space-16) 0 0; }
    .projectItem.xans-layout-project li{ flex:1; min-width: 80%; margin: 0 0 0 var(--space-16); }
}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .projectItem.xans-layout-project {margin: var(--space-48) 0; padding: 0 0 var(--space-24);}
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1024px) {
    .projectItem {margin: 0 var(--space-24);}
}

/********************* PC / Tablet *********************/
@media all and (min-width:768px) {
    .projectItem { max-width: calc((var(--space-96) * 12) + var(--space-64) + var(--space-24)); margin: var(--space-96) auto 0; }
    .projectItem.xans-layout-project ul { overflow:hidden; white-space:nowrap; text-align:center; font-size: var(--font-size-hidden); margin-right: calc(var(--space-24) * -1); }
    .projectItem.xans-layout-project li { display:inline-block; width: calc(33.33% - calc(var(--space-16) + calc(var(--form-field-border-width) * 3))); max-width: calc((var(--space-96) * 4) + var(--space-16)); margin-right: var(--space-24); vertical-align:top; }
}