.xans-layout-searchside {
    margin: 0 0 var(--space-24);
    padding: 0 0 var(--space-24);
    border-bottom: var(--form-field-border-width) solid var(--line-weak);
}

.xans-layout-searchside h2 {
    height: calc(var(--space-16) + var(--space-4));
    color: var(--line-strong);
    font-size: var(--caption-2-size);
}

.xans-layout-searchside fieldset {
    border: var(--form-field-border-width) solid var(--line-default);
    border-radius: var(--radius-sm);
}

.xans-layout-searchside #keyword {
    width: calc(var(--space-96) + var(--space-32) + var(--space-4) + var(--form-field-border-width));
    height: var(--space-32);
    padding: 0 0 0 var(--space-8);
    border: 0;
    line-height: var(--space-32);
    font-size: var(--caption-2-size);
    color: var(--line-strong);
    background: var(--bg-0);
}

.xans-layout-searchside .bestKeyword {
    margin: var(--space-8) 0;
    font-size: var(--caption-2-size);
    line-height: calc(var(--space-16) + calc(var(--form-field-border-width) * 2));
}

.xans-layout-searchside .bestKeyword a {
    color: var(--text-weak);
    text-decoration: none;
}

.xans-layout-searchside .bestKeyword a:hover {
    color: var(--support-info);
}

.xans-layout-searchside .bestKeyword a:after {
    content: ", "
}

.xans-layout-searchside p.button {
    margin: var(--space-12) 0 0;
}

.xans-layout-searchside p.button a {
    margin: 0 0 0 var(--space-4);
}

.xans-layout-searchside fieldset .autoDrop {
    display: none;
    border: var(--form-field-border-width) solid var(--text-sub);
    width: calc(var(--space-96) + var(--space-64) + var(--space-12) + calc(var(--form-field-border-width) * 3));
    position: absolute;
    text-align: left;
    background: var(--bg-0);
    overflow: hidden;
    overflow-y: auto;
    max-height: calc(var(--space-96) + var(--space-4));
}

.xans-layout-searchside fieldset .autoDrop li a {
    display: block;
    padding: var(--space-8) var(--space-12);
    font-size: var(--caption-2-size);
    color: var(--text-strong);
}

.xans-layout-searchside fieldset .autoDrop li a:hover,
.xans-layout-searchside fieldset .autoDrop li.selected a {
    text-decoration: none;
    color: var(--bg-0);
    background: var(--text-disabled);
}