.topArea__statelogon {
    position: absolute;
    right: 0;
    top: calc(var(--space-24) + var(--space-4));
}

.topArea__statelogon a {
    display: inline-block;
    margin-left: var(--space-24);
    font-size: var(--caption-2-size);
    color: var(--text-strong);
    text-transform: uppercase;
    text-decoration: none;
}

.topArea__statelogon .count {
    display: inline-block;
    min-width: var(--space-24);
    margin: 0 0 0 var(--space-8);
    padding: var(--space-4) var(--space-4) var(--space-4);
    font-size: var(--caption-1-size);
    text-align: center;
    border: var(--form-field-border-width) solid var(--text-main);
    border-radius: var(--radius-card);
    box-sizing: border-box;
}