
#main #top_go,
#main #bottom_go { display:none; }
#top_go,
#bottom_go { display:none; position:fixed; right: calc(var(--space-12) + calc(var(--form-field-border-width) * 3)); justify-content:center; align-items:center; width: calc(var(--space-32) + var(--space-8)); height: calc(var(--space-32) + var(--space-8)); background-color:var(--overlay-light-solid); border-radius: var(--radius-pill); cursor:pointer; z-index:999; border: var(--form-field-border-width) solid var(--bg-100); }
#top_go { bottom: calc(var(--space-64) + var(--space-4)); }
#bottom_go { bottom: calc(var(--space-16) + var(--space-4)); }

#top_go img,
#bottom_go img { width: calc(var(--space-12) + calc(var(--form-field-border-width) * 2)); transform:rotate(-90deg); }
