

.section { max-width: calc((var(--space-96) * 16) + var(--space-64)); padding-left: var(--space-24); padding-right: var(--space-24); margin-left: auto; margin-right: auto; }
.ec-base-product .prdList .thumbnail .sale_box { top: 0; right: 0; border-radius: 0; box-shadow: var(--shadow-lv1); background-color:var(--text-strong); color:var(--bg-0); }



.xans-popup-multipopup .ec-multi-popup-full { z-index:501; }
.xans-popup-multipopup .ec-multi-popup { z-index:501; }

.sale_countdown { position: absolute; top: 5%; left: 50%; transform: translateX(-50%); padding: var(--space-4) var(--space-16) var(--space-4) var(--space-32); display:flex; align-items:center; justify-content:center; color: var(--text-main); filter:invert(100%); background-image: var(--icon-url-time); background-repeat: no-repeat; background-position: var(--space-12) center;  background-size: var(--space-12) var(--space-12); background-color: var(--line-default); line-height: var(--control-line-height); white-space: nowrap; border-radius: var(--radius-card); font-size: var(--caption-2-size); letter-spacing: var(--form-field-border-width); }
.ec-base-product .prdList .description .sale_box { display:inline-block; color:var(--brand-dark); font-weight:var(--font-weight-medium); font-size: var(--caption-1-size); }
.ec-base-product .prdList .spec > li.spec_price,
.ec-base-product .prdList .spec > li.spec_consumer { display:inline-block; margin: 0 var(--space-8) var(--space-4) 0; }

#userStyle { color:var(--text-main); }
#userStyle #mCafe24Order.typeHeader { padding-top: 0; }

.scroll-reveal {
  opacity: 0;
  transform: translateY(calc(var(--space-48) + (var(--form-field-border-width) * 2)));
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.scroll-reveal.on {
  opacity: 1;
  transform: translateY(0);
}

.scroll-color {
 overflow:hidden;
}

.scroll-color img {
  filter: grayscale(100%);
  transform: scale(1.1);
  transition: all 1.5s ease;
}

.scroll-color.on img {
  filter: grayscale(0%);
  transform: scale(1);
}

@media (max-width: 1000px) {

.section { box-sizing:border-box; }

}
