


#multishop_btn { display:none; position:fixed; bottom: calc(var(--space-16) + var(--space-4)); right: calc(var(--space-64) + var(--form-field-border-width)); justify-content:center; align-items:center; width: calc(var(--space-32) + var(--space-8)); height: calc(var(--space-32) + var(--space-8)); background-color:var(--overlay-light-solid); border-radius: var(--radius-pill); cursor:pointer; z-index:999; border: var(--form-field-border-width) solid var(--bg-100); }

