


#multishop_btn { display:none; position:fixed; bottom:20px; right:65px; justify-content:center; align-items:center; width:40px; height:40px; background-color:rgba(255,255,255,1); border-radius:50%; cursor:pointer; z-index:999; border:1px solid #eee; }

