/* 출석체크 220712 */

/* 달력 패키지 */
.xans-attend-calendarhead { text-align:center; }
.xans-attend-calendarhead .date { display:inline; color:var(--text-strong); font-size: var(--display-5-size-ko); letter-spacing: var(--display-letter-spacing-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-5-line-height-ko);}
.xans-attend-calendarhead .date img { vertical-align:middle; }

.xans-attend-calendar { margin: var(--space-24) 0 0; }
.xans-attend-calendar th { padding: var(--space-24) 0; color:var(--text-main); border-top: var(--form-field-border-width) solid var(--text-strong);background-color:var(--bg-100); }
.xans-attend-calendar th.sun { color:var(--support-warning); }
.xans-attend-calendar th.sat { color:var(--support-purple); }
.xans-attend-calendar td { border: var(--form-field-border-width) solid var(--line-weak);background:var(--bg-0);height: calc(var(--space-64) + var(--space-24) + calc(var(--form-field-border-width) * 2));border-left: 0;border-right: 0;}
.xans-attend-calendar td p { position:relative; padding: var(--space-12); color:var(--text-sub); text-align:center;font-size: var(--body-2-size);}
.xans-attend-calendar td p > img {margin: var(--space-12) auto;display:block; }

.xans-attend-calendar #attStart,
.xans-attend-calendar #attEnd { position:absolute; left: 25%; top: calc((var(--space-32) + var(--space-8)) * -1);}

/* 스탬프형 > 보안문자 레이어 */
.xans-attend-button {position:relative;}
.xans-attend-button .attendSecurityLayer { dis1play:none; position:absolute;top: calc(((var(--space-96) * 2) + var(--space-24) + calc(var(--form-field-border-width) * 2)) * -1);right: 0; z-index:100; width: calc((var(--space-96) * 3) + var(--space-32)); color:var(--text-weak); }
.xans-attend-button .attendSecurityLayer h3 { height: calc(var(--space-32) + calc(var(--form-field-border-width) * 3)); padding: 0 var(--space-32) 0 var(--space-16); color:var(--bg-0); font-size: var(--body-3-size); line-height: calc(var(--space-32) + calc(var(--form-field-border-width) * 3)); background-color:var(--text-main); }
.xans-attend-button .attendSecurityLayer .content { padding: var(--space-24); border-left: var(--form-field-border-width) solid var(--text-weak); border-right: var(--form-field-border-width) solid var(--text-weak); background-color:var(--bg-0); }
.xans-attend-button .attendSecurityLayer .close { position:absolute; right: calc(var(--space-12) + calc(var(--form-field-border-width) * 2)); top: var(--space-12); }
.xans-attend-button .attendSecurityLayer .close img { cursor:pointer; }
.xans-attend-button .attendSecurityLayer .btnArea { padding: var(--space-12) 0; border: var(--form-field-border-width) solid var(--text-weak); border-top: var(--form-field-border-width) solid var(--line-default); text-align:center; background-color:var(--bg-50); }
.xans-attend-button .attendSecurityLayer .form { padding: var(--space-4) var(--space-12); background-color:var(--bg-100); border-top: var(--form-field-border-width) solid var(--line-default); }
.xans-attend-button .attendSecurityLayer .form img { width: calc(var(--space-64) + var(--space-16)); }
.xans-attend-button .attendSecurityLayer .form img,
.xans-attend-button .attendSecurityLayer .form .keyword { vertical-align:middle; }
.xans-attend-button .attendSecurityLayer .form .keyword { width: calc(var(--space-96) + var(--space-32) + calc(var(--form-field-border-width) * 2)); height: calc(var(--space-16) + var(--space-4)); margin: 0 var(--space-4); line-height: calc(var(--space-16) + var(--space-4)); border-style:solid; border-width: var(--form-field-border-width); border-color:var(--line-default) var(--line-weak) var(--line-weak) var(--line-default); color:var(--line-strong); }
.xans-attend-button .attendSecurityLayer #secure_text { width: calc(var(--space-96) + var(--space-64)); }
.xans-attend-button .attendSecurityLayer .ec-base-help {background-position: left center;}


@media all and (max-width:1024px) {

	/* 달력 패키지 */
	.xans-attend-calendarhead .date {font-size: var(--display-6-size-ko);
    font-family: var(--font-display-ko);
    font-weight: var(--display-font-weight-ko);
    line-height: var(--display-6-line-height-ko);
    letter-spacing: var(--display-letter-spacing-ko);}
	.xans-attend-calendarhead .date a {background:var(--icon-url-right-arr) no-repeat center center;background-size: calc(var(--space-8) + var(--form-field-border-width)) calc(var(--space-12) + calc(var(--form-field-border-width) * 3));width: calc(var(--space-24) + var(--space-4) + var(--form-field-border-width));height: calc(var(--space-16) + var(--space-4));display:inline-block;}
	.xans-attend-calendarhead .date a:first-child {background:var(--icon-url-left-arr) no-repeat center center;background-size: calc(var(--space-8) + var(--form-field-border-width)) calc(var(--space-12) + calc(var(--form-field-border-width) * 3));width: calc(var(--space-24) + var(--space-4) + var(--form-field-border-width));height: calc(var(--space-16) + var(--space-4));display:inline-block;}
	.xans-attend-calendarhead .date a img {display:none;}
	.xans-attend-calendar th {padding: var(--space-12) 0;font-size: var(--caption-2-size);}
	.xans-attend-calendar td p {font-size: var(--caption-1-size);}
	.xans-attend-calendar td img {width: calc(var(--space-24) + var(--space-4) + calc(var(--form-field-border-width) * 2));}

	/* 스탬프형 > 보안문자 레이어 */
	.xans-attend-button {position:relative;margin: 0;}
	.xans-attend-button .attendSecurityLayer {width: 100%;}
}

