

#non_member_popup { display:none; position:fixed; bottom:15px; left:15px; z-index:998;}
#non_member_popup_in { position:relative; width:40vw; max-width:400px; font-size:0px; }
#non_member_popup_in a img { width:100%; border-radius:0px; overflow:hidden; }
#non_member_popup #non_member_popup_close { display:flex; }
#non_member_popup_close { position:absolute; top:0px; right:0px; transform:translate(50%,-50%); display:none; justify-content:center; align-items:center; width:26px; height:26px; background-color:#000; border-radius:50%; cursor:pointer; }
#non_member_popup_close img { width:10px; filter:invert(100%); }

@media (min-width: 1001px) {
    #non_member_popup_in { width:30vw; max-width:220px; }
}