.grade-box input[type="radio"] { border-radius: var(--radius-pill); background-color: var(--bg-0); }

.xans-board-commentlist { margin: var(--space-96) 0 0; border-top: var(--form-field-border-width) solid var(--text-main); border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-commentlist .ec-base-button.typeBG.spam { border-left: 0; border-right: 0; border-bottom: 0; margin: var(--space-12) 0 0; }

/* 댓글 리스트 */
.xans-board-commentlist .boardComment li { position:relative; padding: var(--space-24) 0; color:var(--text-muted-strong); line-height: var(--body-line-height); }
.xans-board-commentlist .boardComment li + li {border-top: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-commentlist .boardComment li:first-child { margin: 0 }
.xans-board-commentlist .boardComment li div.commentTop { overflow:hidden; padding: 0 var(--space-24) var(--space-24) 0; }
.xans-board-commentlist .boardComment li .name { display:inline-flex; align-items:center; color: var(--text-main); }
.xans-board-commentlist .boardComment li .date { margin: 0 var(--space-24); font-size: var(--caption-1-size); color: var(--text-weak);}
.xans-board-commentlist .boardComment li .formGroup { display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; margin: var(--space-24) 0 0; }
.xans-board-commentlist .boardComment li .btnNormal.typeReplyList {padding: var(--space-12) var(--space-16); }
.xans-board-commentlist .boardComment li .btnNormal.typeReplyList .number { margin: 0 var(--space-16) 0 var(--space-4); }
.xans-board-commentlist .boardComment li .btnNormal.typeReplyList .icoArrowBottom {position: relative; top: calc((var(--form-field-border-width) * 3) * -1); }
.xans-board-commentlist .boardComment li .comment { word-break:break-all; color: var(--text-sub); }

/* 댓글의 댓글 */
.xans-board-commentlist .boardComment li.replyArea { position: relative; overflow:hidden; padding: var(--space-24) var(--space-24) var(--space-24) var(--space-48); background:var(--bg-100); }
.xans-board-commentlist .boardComment li.replyArea::before {content: ''; position: absolute; left: calc(var(--space-16) + var(--space-4)); top: calc(var(--space-24) + var(--form-field-border-width)); width: calc(var(--space-8) + calc(var(--form-field-border-width) * 2)); height: var(--space-12); border-width: 0 0 var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled);}
.xans-board-commentlist .boardComment li.replyArea + li.replyArea { margin: 0; }
.xans-board-commentlist .boardComment li.replyArea div.commentTop { border: none; padding-left: var(--space-4); }
.xans-board-commentlist .boardComment li.replyArea .formGroup .button { margin: 0 0 0 auto; }
.xans-board-commentlist .boardComment li.replyArea .xans-board-commentformsecret { margin: var(--space-12) var(--space-32) var(--space-12) 0; }

/* 댓글 쓰기 */
.xans-board-commentwrite { margin: var(--space-48) 0; color:var(--text-muted-strong); }
.xans-board-commentwrite legend { visibility:hidden; overflow:hidden; width: 0; height: 0; font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
.xans-board-commentwrite textarea { width: 100%; height: calc(var(--space-96) + var(--space-48) + var(--space-4)); padding: var(--space-24) var(--space-48); border-width: var(--form-field-border-width) var(--form-field-border-width) 0 var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); outline: none; background: var(--bg-0); }
.xans-board-commentwrite .input { position: relative; border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); background: var(--bg-0); border-top: var(--form-field-border-width) solid var(--line-weak);  }
.xans-board-commentwrite .input .ec-base-help { margin: var(--space-12) 0 0; }
.xans-board-commentwrite .input .btnSubmit { position: absolute; right: calc(var(--space-16) + var(--space-4)); top: calc(var(--space-12) + var(--form-field-border-width)); }
.xans-board-commentwrite span { display: inline-block; }
.xans-board-commentwrite div.captcha { border-top: var(--form-field-border-width) solid var(--line-weak); padding: var(--space-16) 0 0 0; color:var(--text-weak); }
.xans-board-commentwrite div.captcha img { vertical-align:middle; }
.xans-board-commentwrite h4 { margin: 0 0 var(--space-24) 0; font-size: var(--body-1-size); color: var(--text-main); }
.xans-board-commentwrite .inside { display: inline-block; padding: var(--space-12) var(--space-24); }
.xans-board-commentwrite input[type=text],
.xans-board-commentwrite input[type=password] { width: calc((var(--space-96) * 2) + var(--space-8)); margin: 0 var(--space-12) 0 var(--space-8); }
.xans-board-commentwrite .secret { margin: 0 var(--space-24) 0 var(--space-12); }
.xans-board-commentwrite .view { position:relative; margin: var(--space-12) 0 0; padding: 0 var(--space-96) 0 0; }
.xans-board-commentwrite .view [class^="btn"] { position:absolute; top: 0; right: 0; }
.xans-board-commentwrite .grade-box {position: relative; }
.xans-board-commentwrite .grade-box span {margin: var(--space-12) 0; color: var(--text-weak);}
.xans-board-commentwrite .byte {position: absolute; right: 0; }
.xans-board-commentwrite span.grade label { padding: 0 var(--space-12) 0 0; }
.xans-board-commentwrite span.grade em { font-style:normal; }

/* 댓글의 댓글 쓰기 */
.xans-board-commentlist .boardComment li .formGroup #commentReplyWriteForm {  flex-basis: 100%; }

.xans-board-commentreply { position: relative; margin: var(--space-24) 0 calc(var(--space-24) * -1); padding: var(--space-24) var(--space-24) var(--space-24) var(--space-48); background-color:var(--bg-100); }
.xans-board-commentreply::before { content: ''; position: absolute; left: calc(var(--space-16) + var(--space-4)); top: calc(var(--space-24) + var(--form-field-border-width)); width: calc(var(--space-8) + calc(var(--form-field-border-width) * 2)); height: var(--space-12); border-width: 0 0 var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); }
.xans-board-commentreply legend { visibility:hidden; overflow:hidden; width: 0; height: 0; font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
.xans-board-commentreply .input { position: relative; border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); background: var(--bg-0); border-top: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-commentreply .input .ec-base-help { margin: var(--space-12) 0 0; }
.xans-board-commentreply .input .btnSubmit { position: absolute; right: calc(var(--space-16) + var(--space-4)); top: calc(var(--space-12) + var(--form-field-border-width)); }
.xans-board-commentreply .inside { display: inline-block; padding: var(--space-12) var(--space-24); }
.xans-board-commentreply .comment-col { display: inline-block; }
.xans-board-commentreply strong { display:block; margin: 0 0 var(--space-12) 0;}
.xans-board-commentreply input[type=text],
.xans-board-commentreply input[type=password] { width: calc((var(--space-96) * 2) + var(--space-8)); margin: 0 var(--space-12) 0 var(--space-8); }
.xans-board-commentreply .secret { margin: 0 var(--space-24) 0 var(--space-12); }
.xans-board-commentreply textarea { width: 100%; height: calc(var(--space-96) + var(--space-48) + var(--space-4)); padding: var(--space-24) var(--space-48); border-width: var(--form-field-border-width) var(--form-field-border-width) 0 var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); outline: none; background: var(--bg-0); }
.xans-board-commentreply .view { position:relative; margin: var(--space-12) 0 0; padding: 0 var(--space-96) 0 0; }
.xans-board-commentreply .view [class^="btn"] { position:absolute; top: 0; right: 0; }
.xans-board-commentreply .grade-box {position: relative; margin: var(--space-24) 0; }
.xans-board-commentreply .grade-box .byte {position: absolute; right: 0; }
.xans-board-commentreply .grade label { padding: 0 var(--space-12) 0 0; }
.xans-board-commentreply .grade em { font-style:normal; }
.xans-board-commentreply .captcha { border-top: var(--form-field-border-width) solid var(--line-weak); margin: var(--space-12) 0 0;  padding: var(--space-24) 0 0; color:var(--text-weak); }
.xans-board-commentreply .captcha img { vertical-align:middle; }

/* 댓글 수정 */
#commentForm {flex-basis: 100%; }
.xans-board-commentform { margin: var(--space-24) 0 calc(var(--space-24) * -1); padding: var(--space-32) var(--space-24); background-color:var(--bg-100); }
    .replyArea .xans-board-commentform { padding: 0; margin-bottom: 0; }
.xans-board-commentform legend { visibility:hidden; overflow:hidden; width: 0; height: 0; font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
.xans-board-commentform p { margin: var(--space-12) 0 0; }
.xans-board-commentform input[type=text],
.xans-board-commentform input[type=password] { width: calc(var(--space-96) + var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 3)); margin: 0 var(--space-12) 0 var(--space-8); }
.xans-board-commentform input#captcha { width: calc(var(--space-96) + var(--space-64)); }
.xans-board-commentform .secret { margin: 0 var(--space-24) 0 var(--space-12); }
.xans-board-commentform textarea { width: 100%; height: calc(var(--space-96) + var(--space-48) + var(--space-4)); padding: var(--space-24) var(--space-48); border-width: var(--form-field-border-width) var(--form-field-border-width) 0 var(--form-field-border-width); border-style: solid;border-color: var(--text-disabled); outline: none;   background: var(--bg-0);}
.xans-board-commentform .view { position:relative; }
.xans-board-commentform .input { position: relative; border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); background: var(--bg-0); border-top: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-commentform .inside { display: inline-block; padding: var(--space-12) var(--space-24); }
.xans-board-commentform .submit { position: absolute; right: calc(var(--space-16) + var(--space-4)); top: calc(var(--space-12) + var(--form-field-border-width)); }

/* 비밀글 관련 */
.xans-board-commentformsecret { margin: var(--space-12) 0 0; padding: var(--space-12) 0; color:var(--text-muted-strong); }
.xans-board-commentformsecret input[type="password"] {margin: 0 var(--space-8) 0 0;}


/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-board-commentlist {margin-top: var(--space-48); }
    .xans-board-commentreply,
    .xans-board-commentlist .boardComment li.replyArea { padding: var(--space-24) var(--space-16); }
    .xans-board-commentlist .boardComment li.replyArea div.commentTop {margin-left: var(--space-24); }

    .xans-board-commentlist .boardComment li .formGroup button,
    .xans-board-commentlist .boardComment li .formGroup .button {margin: 0 var(--space-16) var(--space-4); }
    span.ec-base-help { display: block; }

    .xans-board-commentreply textarea { width: calc(100% - calc(var(--space-32) + var(--space-4))); margin-left: var(--space-32); }

    .xans-board-commentlist .boardComment li div.commentTop {margin: 0 var(--space-16); }
    .xans-board-commentlist .boardComment li .comment {margin: 0 var(--space-16); }

    .xans-board-commentreply .input { position: relative; border: 0; background: none; }

    .xans-board-commentreply .inside { display: flex; margin-left: var(--space-32); border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); border-top: var(--form-field-border-width) solid var(--line-weak); background: var(--bg-0); }
    .xans-board-commentreply .inside span { flex: 1; display: inline-block; }
    .xans-board-commentreply .inside span:first-child {margin-right: var(--space-12); }
    .xans-board-commentreply .inside label { display: block; margin-bottom: var(--space-8); color: var(--text-weak); }
    .xans-board-commentreply .inside input { width: 100%; }
    .xans-board-commentreply .inside input[type=text],
    .xans-board-commentreply .inside input[type=password] { margin-left: 0; }

    .xans-board-commentreply .outside,
    .xans-board-commentwrite .outside {display: flex; align-items: center; margin: var(--space-12) 0; height: calc(var(--space-32) + var(--space-12) + var(--form-field-border-width));}
    .xans-board-commentreply .input .btnSubmit { right: 0; top: auto; }
    .xans-board-commentreply .grade label {padding: 0; }
    .xans-board-commentreply .byte {color: var(--text-weak); }
    .xans-board-commentreply .secret {margin-left: 0; }

    .xans-board-commentformsecret p { position: relative; padding: 0 var(--space-96) 0 0; }
    .xans-board-commentformsecret input[type="password"] {width: 100%;}
    .xans-board-commentformsecret span { position: absolute; right: 0; top: 0; }

    .xans-board-commentwrite { padding: var(--space-24) var(--space-16); background: var(--bg-100);}
    .xans-board-commentwrite textarea {padding: var(--space-24) var(--space-16); }
    .xans-board-commentwrite .inside { display: flex; border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); border-top: var(--form-field-border-width) solid var(--line-weak); background: var(--bg-0); }
    .xans-board-commentwrite .inside span { flex: 1; display: inline-block; }
    .xans-board-commentwrite .inside span:first-child {margin-right: var(--space-12); }
    .xans-board-commentwrite .inside label { display: block; margin-bottom: var(--space-8); color: var(--text-weak); }
    .xans-board-commentwrite .inside input { width: 100%; }
    .xans-board-commentwrite .inside input[type=text],
    .xans-board-commentwrite .inside input[type=password] { margin-left: 0; }

    .xans-board-commentwrite .outside {display: flex; align-items: center; margin: var(--space-12) 0; height: calc(var(--space-32) + var(--space-12) + var(--form-field-border-width));}
    .xans-board-commentwrite .input { border: 0; background: none;}
    .xans-board-commentwrite .input .btnSubmit { right: 0; top: auto; }
    .xans-board-commentwrite span.grade label {padding: 0; }
    .xans-board-commentwrite .byte {color: var(--text-weak); }
    .xans-board-commentwrite .secret {margin-left: 0; }

    .xans-board-commentform { padding: var(--space-24) var(--space-16); }
    .xans-board-commentform .input { border: 0; background: none; }

    .xans-board-commentform .inside { display: flex; border-width: 0 var(--form-field-border-width) var(--form-field-border-width) var(--form-field-border-width); border-style: solid; border-color: var(--text-disabled); border-top: var(--form-field-border-width) solid var(--line-weak);  background: var(--bg-0); }
    .xans-board-commentform .inside span {flex: 1; }
    .xans-board-commentform .inside label { display: block;  margin-bottom: var(--space-8); color: var(--text-weak); }
    .xans-board-commentform .inside input[type=password] { margin-left: 0; width: 100%; }
    .xans-board-commentform .outside { display: flex; align-items: center; margin: var(--space-12) 0; height: calc(var(--space-32) + var(--space-12) + var(--form-field-border-width));}
    .xans-board-commentform .submit {top: auto; right: 0; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-commentreply .inside {background: var(--bg-0); }
}
