.xans-board-inquiryform .title h3 { margin: var(--space-48) 0 var(--space-8); color:var(--text-main); font-size: var(--caption-2-size); }
.xans-board-inquiryform .required { margin: var(--space-24) 0 var(--space-12); text-align:right; }

.xans-board-inquiryhead .ec-base-box.typeProduct { margin: 0 0 var(--space-48); }
.xans-board-inquiryhead .information h3 { margin: 0 0 var(--space-4); padding: 0 var(--space-96) 0 0; font-size: var(--body-3-size); }
.xans-board-inquiryhead .icon { position:absolute; top: 0; right: 0; width: calc(var(--space-96) + var(--space-4)); text-align:right; }
.xans-board-inquiryhead .information .button { margin: var(--space-16) 0 0; }

.xans-board-inquiryform .file td { color:var(--text-weak); }
.xans-board-inquiryform .file label { color:var(--text-main); }
.xans-board-inquiryform .file [id^="delfile"] { margin-left: var(--space-24); }
.xans-board-inquiryform .agree textarea { margin: 0 0 var(--space-12); }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-board-inquiryform .ec-base-table input[type="text"],
    .xans-board-inquiryform .ec-base-table input[type="password"],
    .xans-board-inquiryform .ec-base-table select { width: 100%; }
    .xans-board-inquiryform .file input[type="file"] { display:block; }
    .xans-board-inquiryform .agree textarea { width: 100%; height: calc(var(--space-96) + var(--space-32) + var(--space-12)); }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-inquiryform #bi_inquire_subject { width: calc((var(--space-96) * 5) + var(--space-32) + var(--space-12) + calc(var(--form-field-border-width) * 2)); }
    .xans-board-inquiryform #bi_inquirer_phone1,
    .xans-board-inquiryform #bi_inquirer_phone2 { margin: 0 var(--space-4) 0 0; }
    .xans-board-inquiryform #bi_inquirer_phone2 { width: calc(var(--space-64) + var(--space-24) + calc(var(--form-field-border-width) * 2)); margin: 0 0 0 var(--space-4); }
    .xans-board-inquiryform .agree textarea { width: calc((var(--space-96) * 5) + var(--space-64) + var(--space-4) + calc(var(--form-field-border-width) * 2)); height: calc(var(--space-96) + var(--space-32) + var(--space-12)); }
}