/* product */
.xans-board-inquiryhead { margin: 0 0 var(--space-24); }
.xans-board-inquiryhead .information h3 { margin: var(--space-16) 0 var(--space-4); font-size: var(--body-3-size); color:var(--line-strong); }
.xans-board-inquiryhead .information .price { font-size: var(--body-3-size); font-weight:var(--font-weight-bold); color:var(--support-info); }
.xans-board-inquiryhead .information .button { margin: var(--space-16) 0 0 0; padding: var(--space-12) 0 0 0; border-top: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-inquiryhead .information > img { vertical-align:middle; margin: 0 0 0 0; }

/* read */
.xans-board-inquiryview .ec-base-table .view .detail { padding: var(--space-24); word-break:break-all; line-height: var(--body-line-height); }
.xans-board-inquiryview .ec-base-table .view .detail ol,
.xans-board-inquiryview .ec-base-table .view .detail ul { margin: var(--space-16) 0; padding: 0 0 0 var(--space-48); }
.xans-board-inquiryview .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-inquiryview .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-inquiryview .ec-base-table .attach a { color:var(--text-disabled); }
.xans-board-inquiryview .ec-base-table .attach a:hover { text-decoration:underline; }

.xans-board-inquiryview .ec-base-button { margin: var(--space-12) 0 var(--space-48); }