.xans-board-listsgroup-4 h3 { padding: var(--space-16); border-top: var(--form-field-border-width) solid var(--line-default); }

/* 게시글 */
.xans-board-listsgroup-4 { margin: 0 0 var(--space-32); font-size: var(--caption-2-size); background:var(--bg-0); }
.xans-board-listsgroup-4 li { position:relative; overflow:hidden; padding: var(--space-12) var(--space-12); color:var(--text-disabled); border-bottom: var(--form-field-border-width) solid var(--line-default); }
.xans-board-listsgroup-4 .descriptions { position:relative; padding: 0 var(--space-8); }
.xans-board-listsgroup-4 .descriptions a { display:block; color:var(--text-weak); }

.xans-board-listsgroup-4 .descriptions > strong { position:relative; padding: 0 var(--space-4) 0 var(--space-8); font-weight:var(--font-weight-regular); }
.xans-board-listsgroup-4 .descriptions > a + strong { padding-left: 0; }
.xans-board-listsgroup-4 .descriptions > strong:before { display:block; content:""; position:absolute; top: var(--form-field-border-width); left: 0; width: var(--form-field-border-width); height: calc(var(--space-8) + calc(var(--form-field-border-width) * 3)); }
.xans-board-listsgroup-4 .descriptions > a + strong:before { display:none; padding-left: 0; }

.xans-board-listsgroup-4 .descriptions .name { display:block; margin: var(--space-4) 0 0; color:var(--text-strong); }
.xans-board-listsgroup-4 .descriptions .point img { width: auto; height: calc(var(--space-8) + calc(var(--form-field-border-width) * 3)); }
.xans-board-listsgroup-4 a .summary { display:block; margin: 0 0 var(--space-12); color:var(--text-strong); font-size: var(--body-3-size); }
.xans-board-listsgroup-4 a .summary span { color:var(--line-strong); }
.xans-board-listsgroup-4 a .summary img { margin: 0 var(--space-4) 0 0; }
