.xans-board-title p.imgArea { margin: 0 0 var(--space-24); }

.xans-board-memowrite-1001 { margin: 0 0 var(--space-24); padding: var(--space-12) var(--space-24) var(--space-4); border: calc(var(--space-4) + var(--form-field-border-width)) solid var(--line-weak); background:var(--bg-50); font-size: var(--caption-2-size); color:var(--text-muted-strong); }
.xans-board-memowrite-1001 legend { visibility:hidden; overflow:hidden; width: 0; height: 0; font-size: var(--font-size-hidden); line-height: var(--line-height-hidden); }
.xans-board-memowrite-1001 .input { margin: 0 0 var(--space-12); }
.xans-board-memowrite-1001 .input .ec-base-help { margin: var(--space-4) 0 0; }
.xans-board-memowrite-1001 p { position:relative; margin: 0 0 var(--space-12); padding: 0 var(--space-96) 0 0; }
.xans-board-memowrite-1001 p.captcha { border-top: var(--form-field-border-width) solid var(--line-weak); padding: var(--space-16) 0 0 0; color:var(--text-weak); }
.xans-board-memowrite-1001 p.captcha img { vertical-align:middle; }
.xans-board-memowrite-1001 input[type=text],
.xans-board-memowrite-1001 input[type=password] { width: calc(var(--space-96) + var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 3)); margin: 0 var(--space-24) 0 var(--space-12); }
.xans-board-memowrite-1001 textarea { width: 100%; height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 2)); padding: var(--space-4) var(--space-4) var(--space-4) var(--space-4); }
.xans-board-memowrite-1001 input#captcha { width: calc(var(--space-96) + var(--space-64)); }
.xans-board-memowrite-1001 p a { position:absolute; top: 0; right: 0; }
.xans-board-memowrite-1001 .secret { line-height: calc(var(--space-24) + calc(var(--form-field-border-width) * 2)); }
.xans-board-memowrite-1001 .secret label { margin: 0; }

.memoList { border-top: var(--form-field-border-width) solid var(--line-default); }
.memoList .memoArea { display:flex; align-items:center; flex-wrap:wrap; position:relative; overflow:hidden; border: var(--form-field-border-width) solid var(--line-default); border-top: none; color:var(--text-muted-strong); }
.memoList .memoArea > p,
.memoList .memoArea .reply > p { padding: var(--space-12) var(--space-24) var(--space-8); }
.memoList .memoArea .name { display:inline-flex; align-items:center; font-weight:var(--font-weight-bold); }
.memoList .memoArea .date,
.memoList .memoArea .ip { margin: 0 var(--space-16); font-weight:var(--font-weight-regular); font-size: var(--caption-2-size); }
.memoList .memoArea .ip { margin-left: 0; }
.memoList .memoArea .memo { border-top: var(--form-field-border-width) solid var(--line-weak); padding: var(--space-16) 0 var(--space-12) var(--space-32); }
.memoList .memoArea .ec-base-button .text { color:var(--support-info); }
.memoList .memoArea .btn { position:absolute; top: calc((var(--space-4) + calc(var(--form-field-border-width) * 3)) * -1); right: 0; }
.memoList input[type=text],
.memoList input[type=password] { width: calc(var(--space-96) + var(--space-32) + var(--space-4) + calc(var(--form-field-border-width) * 3)); margin: 0 var(--space-24) 0 var(--space-12); }
.memoList input#captcha { width: calc(var(--space-96) + var(--space-64)); }
.memoList .secret { line-height: calc(var(--space-24) + calc(var(--form-field-border-width) * 2)); }
.memoList .secret label { margin: 0; }

.memoList .memoArea .replyModify { margin: var(--space-12) var(--space-24) var(--space-12); padding: var(--space-8) var(--space-24) 0; border: var(--form-field-border-width) solid var(--line-weak); background-color:var(--bg-50); color:var(--text-muted-strong); }
.memoList .memoArea .replyModify .input { margin: 0 0 var(--space-12); }
.memoList .memoArea .replyModify .input .ec-base-help { margin: var(--space-4) 0 0; padding: 0 0 0 var(--space-24); }
.memoList .memoArea .replyModify p { position:relative; margin: 0 0 var(--space-12); padding: 0; }
.memoList .memoArea .replyModify p.modify { padding-right: var(--space-96); }
.memoList .memoArea .replyModify p.captcha img { vertical-align:middle; }
.memoList .memoArea .replyModify textarea { width: 100%; height: calc(var(--space-32) + var(--space-8) + calc(var(--form-field-border-width) * 2)); padding: var(--space-4) var(--space-4) var(--space-4) var(--space-4); }
.memoList .memoArea .replyModify .modify .submit { position:absolute; top: 0; right: 0; }
.memoList .memoArea .commentView { margin: 0 var(--space-24) var(--space-16); padding: var(--space-12) var(--space-16); border: var(--form-field-border-width) solid var(--line-weak); background-color:var(--bg-50); color:var(--text-muted-strong); }

.memoList .replyWrap { position:relative; margin: 0 0 var(--space-16) 0; }
.memoList .reply { position:relative; overflow:hidden; margin: 0 var(--space-24) 0; padding: 0 0 0 var(--space-12); border: var(--form-field-border-width) solid var(--line-weak); }
.memoList .reply .name { font-size: var(--caption-2-size);}
.memoList .reply .memo { border: 0 none; padding: 0 0 var(--space-8) var(--space-24); }