.xans-board-movement { margin: var(--space-24) 0; }
.xans-board-movement li { display:flex; align-items:center; overflow:hidden; padding: 0 var(--space-24) 0 0; border-bottom: var(--form-field-border-width) solid var(--line-weak); line-height: var(--body-line-height); color:var(--text-muted-strong); }
.xans-board-movement li strong,
.xans-board-movement li a { display:inline-flex; align-items:center; padding: var(--space-24) 0; }
.xans-board-movement li strong { width: calc(var(--space-64) + var(--space-16)); }
.xans-board-movement li strong i {margin-left: var(--space-12); margin-bottom: calc(var(--space-4) * -1); }
.xans-board-movement li.next { border: 0; }
.xans-board-movement li.next strong i {margin-bottom: var(--space-4)}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-board-movement li {padding: 0 var(--space-16); }
    .xans-board-listsgroup h4 { margin: 0; padding: var(--space-24) var(--space-16) var(--space-24); background: var(--bg-100); }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-listsgroup h4 { margin: 0 0 var(--space-24) 0;}
}