.xans-board-title p.imgArea { margin: 0 0 var(--space-24); }

.ec-base-box + #BoardDelForm .ec-base-table { border-top: 0; }
.xans-board-read .ec-base-table .head { padding: var(--space-32) 0; border-bottom: var(--form-field-border-width) solid var(--line-weak); }
.xans-board-read .ec-base-table .head h3 {font-size: var(--title-3-size); font-weight: var(--font-weight-regular); }
.xans-board-read .ec-base-table .description {margin: var(--space-16) 0 0; }
.xans-board-read .ec-base-table .description .name { display: inline-block; margin-right: var(--space-8); }
.xans-board-read .ec-base-table .etcArea {display: inline-block; }
.xans-board-read .ec-base-table .etcArea li { display:inline-block; padding: 0 var(--space-8); vertical-align:middle; color:var(--text-weak); }
.xans-board-read .ec-base-table .etcArea li a { text-decoration:none; }
.xans-board-read .ec-base-table .etcArea .txtNum { font-size: var(--caption-1-size); color: var(--text-weak); }
.xans-board-read .ec-base-table .detail { padding: var(--space-32) var(--space-24); word-break:break-all; line-height: var(--body-line-height); }
.xans-board-read .ec-base-table .detail ol,
.xans-board-read .ec-base-table .detail ul { margin: var(--space-16) 0; padding: 0 0 0 var(--space-48); }
.xans-board-read .ec-base-table .detail ol li { list-style:decimal; }
.xans-board-read .ec-base-table .detail ul li { list-style:disc; }
.xans-board-read .ec-base-table .detail img { max-width: 100%; }
.xans-board-read .ec-base-table .attach { position: relative; padding: var(--space-24) 0; margin: 0 var(--space-24); text-align: right;}
.xans-board-read .ec-base-table .attach a { padding: 0 0 0 var(--space-12); color:var(--text-weak); }
.xans-board-read .ec-base-table .attach a:hover { text-decoration:underline; }
.xans-board-read .ec-base-table .attach a:first-child { padding-left: var(--space-24); background: var(--icon-url-file) no-repeat 0 0; background-size: calc(var(--space-12) + calc(var(--form-field-border-width) * 2)) auto; }

.xans-board-product .ec-base-box.typeProduct { margin: 0 0 var(--space-48); }
.xans-board-product .information h3 { margin: 0 0 var(--space-4); padding: 0 var(--space-96) 0 0; font-size: var(--body-3-size); }
.xans-board-product #sPrdCommonImg { position:absolute; top: 0; right: 0; width: calc(var(--space-96) + var(--space-4)); text-align:right; }
.xans-board-product .information .button { margin: var(--space-16) 0 0; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-board-read .ec-base-table .head { padding: var(--space-24) var(--space-16); }
    .xans-board-read .ec-base-table .attach {margin: 0 var(--space-16); }
}
