.xans-board-title p.imgArea { margin: 0 0 var(--space-24); }

/* read */
.xans-board-read-9 .ec-base-table .view .detail { padding: var(--space-12); word-break:break-all; line-height: var(--body-line-height); }
.xans-board-read-9 .ec-base-table .view .detail ol,
.xans-board-read-9 .ec-base-table .view .detail ul { margin: var(--space-16) 0; padding: 0 0 0 var(--space-48); }
.xans-board-read-9 .ec-base-table .view .detail ol li { list-style:decimal; }
.xans-board-read-9 .ec-base-table .view .detail ul li { list-style:disc; }
.xans-board-read-9 .ec-base-table .attach a { color:var(--text-disabled); }
.xans-board-read-9 .ec-base-table .attach a:hover { text-decoration:underline; }

.xans-board-read-9 .ec-base-button { margin: var(--space-12) 0 var(--space-48); }