.boardReport { position:fixed; top: 50%; left: 50%; z-index:1000; width: calc((var(--space-96) * 4) + var(--space-64) + calc(var(--form-field-border-width) * 2)); margin: calc(var(--space-96) * -1) 0 0 calc(var(--space-96) * -1); }
.boardReport .ec-base-button { margin-bottom: 0; }
.boardReport .box { margin: var(--space-16) 0 var(--space-12) 0; padding: var(--space-16) var(--space-12); border: var(--form-field-border-width) solid var(--line-default); }
.boardReport .box .selectBox ul { display:flex; flex-wrap:wrap; }
.boardReport .box .selectBox ul li { width: calc(var(--space-96) + var(--space-4)); margin: 0 var(--space-24) 0 0; }
.boardReport .box .selectBox ul li:first-child { padding: 0 0 var(--space-16) 0; }
.boardReport .box .selectBox ul li .radio { margin: 0 var(--space-4) 0 0; }

.xans-board-read .ec-base-button.report-button { margin: 0; }