.xans-mall-urgencycall .info { margin: var(--space-24) var(--space-12); color:var(--text-disabled); }
.xans-mall-urgencycall .required { margin: calc(var(--space-32) * -1) 0 var(--space-12); text-align:right; }
.xans-mall-urgencycall .required img { vertical-align:middle; }
.xans-mall-urgencycall .ec-base-table input[type=text],
.xans-mall-urgencycall .ec-base-table textarea { width: calc((var(--space-96) * 5) + var(--space-16) + var(--space-4)); }
.xans-mall-urgencycall .ec-base-table textarea { height: calc(var(--space-96) + var(--space-4)); }
.xans-mall-urgencycall .ec-base-table #captcha { width: calc(var(--space-96) + var(--space-64)); }